[2018-02-07 06:43] lukehsiao opened #3 "Integrate new parser to support pdftotree output"
TODO:
- [x] Create simple, verifiable test data for unit testing the parser
- [ ] Get numbers from old parser for comparison
- [ ] Test current version of new parser
- [ ] Rewrite to fix the mismatches. That is, build the document model, and run each paragraph through spacy for phrases, rather than chunking the whole document like was done for CoreNLP.

[2018-02-07 06:45] lukehsiao opened #4 "Switch to spaCy as the default parser"
Support using [spaCy](https://spacy.io/) as the lingual parser for the old parser (i.e. the one that does not support pdftotree output).

TODO:
- [x] Upgrade to spaCy 2.x (#9)
- [x] Compare features pre and post spaCy
- [x] check visual linker for mismatches.  Update: (see #12). However, it looks like we don't have unicode issues.

[2018-02-07 06:57] lukehsiao opened #5 "psycopg2 error in python 3.6"
On the [fonduer_parser](https://github.com/senwu/fonduer/tree/fonduer_parser) branch, Travis-CI is failing in Python 3.6. Specifically, [build number 16](https://travis-ci.com/SenWu/fonduer/builds/65257870).

If you look at those logs, python2 and python3.5 are failing, but for an unrelated reason (an assertion is failing). However, python3.6 is failing due to a ProgrammingError:

[code]

[2018-02-07 07:01] lukehsiao opened #6 "Change the base learning class to pytorch"

[2018-02-10 03:08] lukehsiao opened #8 "Error with fontconfig during poppler installation"
If you get errors during poppler installation with pkg-config or fontconfig, make sure that you have the following two packages installed on your system.

[code]

[2018-02-10 03:08] #8 closed, assigned to lukehsiao

[2018-02-10 06:39] lukehsiao opened #9 "Upgrade to spaCy 2.x"
For reference:

https://github.com/HazyResearch/snorkel/issues/830

[2018-02-10 09:25] lukehsiao opened #10 "Handle psycopg2 renaming"
We need to see if we just switch to the binary or if there are other better options.

[2018-02-10 17:24] #10 closed, assigned to nobody

[2018-02-11 07:07] lukehsiao opened #12 "Word mismatch between HTML and PDF for visual linker"
In the test [md document](https://github.com/SenWu/fonduer/blob/8e8e4d71b82ecbe4b1069ec7fd6860650d4751b1/tests/data/html_simple/md.html) we use an ordered HTML list, which renders as numbers in the PDF. This is causing a mismatch of words when doing the visual parse. The list of words in that document are

HTML | PDF
:---|:---
Sample | Sample
Markdown | Markdown
This | This
is | is
some | some
bas

[2018-02-11 08:47] #4 closed, assigned to lukehsiao

[2018-02-11 08:47] #9 closed, assigned to lukehsiao

[2018-02-13 00:19] #5 closed, assigned to senwu

[2018-03-01 19:04] lukehsiao opened #14 "Clean up featurization code"
There appears to be several bugs in the featurization code. Examples below.

In [`content_features.py`](https://github.com/SenWu/fonduer/blob/master/fonduer/features/content_features.py):
- [x] We import global variables like `Mention`, `Indicator`, etc from `treedlib` without importing.
- [x] `span.parent` should probably be `span.sentence`

In [`structural_features.py`](https://github.com/SenWu/

[2018-03-02 09:19] senwu opened #16 "Remove PhantomJs dependency"

[2018-03-02 17:14] #14 closed, assigned to senwu

[2018-03-02 22:18] lukehsiao opened #17 "Move poppler installation to just a dependency"

[2018-03-03 06:42] #17 closed, assigned to lukehsiao

[2018-03-06 19:54] lukehsiao opened #19 "Make fonduer a pip-installable package"
Once we have cleaned up the environment vars and dependencies, there should be nothing stopping us from improving usability and making fonduer a pip-installable package.

[2018-03-07 02:19] lukehsiao opened #21 "Remove phantomjs blob from git repo"
We have a leftover commit from migrating from the snorkel repo containing a reference to the phantomjs binary that someone accidentally committed.

[code]

We should get rid of that blog completely from the repo. Most likely using [BFG](https://rtyley.github.io/bfg-repo-cleaner/).

[2018-03-07 04:55] #21 closed, assigned to lukehsiao

[2018-03-07 05:21] #16 closed, assigned to senwu

[2018-03-08 00:39] #19 closed, assigned to nobody

[2018-03-08 00:41] lukehsiao opened #23 "Split tutorials into a separate repo"
This separate repo can then simply

[code]

(once we get that working) and it will be a nice clean boilerplate for future fonduer apps.

[2018-03-20 18:35] lukehsiao opened #26 "New parser needs to handle angle brackets"
With the `INFNS19372-1.pdf` document, after passing through `pdftotree` we have the following issue.
[code]
This `<www.infineon.com>` is being parsed at the html_tag, rather than as part of the content.

As a related issue, we are currently swapping all `'` for `"` in pdftotree, and swapping those back in the new parser. In both these cases, we want to treat these as normal strings, but because we

[2018-03-20 19:09] lukehsiao opened #27 "Switch to logging in Fonduer."

[2018-03-20 19:09] lukehsiao opened #28 "Make fonduer a pip-installable package?"
This should be very doable, as it just requires the user to install phantomjs and poppler themselves, which seems reasonable.

The other main thing would be to actually use proper import paths so we don't have a bunch of environment variables that we need to modify.

[2018-03-20 19:09] lukehsiao opened #29 "Move all snorkel code directly into Fonduer."
Remove snorkel subdirectory.

The motivation here is that the line between importing from snorkel or fonduer is a little blurry, and kind of unnecessary. It may simplify the code if we just absorb all the snorkel files into fonduer directly.

[2018-03-23 20:10] #26 closed, assigned to lukehsiao

[2018-03-29 03:34] #28 closed

[2018-03-29 15:54] #23 closed

[2018-03-29 18:55] lukehsiao opened #32 "Host documentation on readthedocs"
There's a few parts to this task.

- [x] Setup readthedocs so that documentation is auto built
- [x] Fix the import errors with readthedocs
- [ ] ~~Go through the code and improve docstrings throughout~~ (this will be ongoing...)

First part is easy, second part will take time.

[2018-03-29 22:29] lukehsiao opened #34 "Eliminate global variable use from meta.py"
Right now, snorkel uses some hacky global variables in [meta.py](https://github.com/HazyResearch/fonduer/blob/master/fonduer/snorkel/models/meta.py). This poses two main issues:

1. It forces the user to set the `SNORKELDB` environment variable _before_ importing
2. It is executing code on import alone. For example, just importing `fonduer` will create a `snorkel.db` file immediately. We should [s

[2018-03-29 22:31] lukehsiao opened #35 "Scrub code related to sqlite, which is unsupported in fonduer"
In Fonduer we rely on parallelization to improve performance by using postgres. We do not support sqlite. Removing any code that relates to sqlite will simplify the code base and reduce confusion.

[2018-03-30 20:14] lukehsiao commented on #32
After mocking the relevant imports, we have:

[code]

[2018-03-30 21:20] #34 closed

[2018-03-30 23:47] jdunnmon opened #38 "Enforce match between DB and candidate encodings"
Suggest putting a check in the baseline fonduer docpreprocessor method that checks to ensure that the database encoding is the same as the candidate text encodings, else you'll end up with DB errors when running the featurizers.

[2018-03-31 01:20] lukehsiao opened #39 "Switch README to RST."
The standard format for PyPi is reStructuredText, not Markdown. It would simplify things by letting us cut out the conversion using pandoc.

[2018-03-31 05:44] lukehsiao commented on #39
Closed in 6c31aba8

[2018-03-31 05:44] #39 closed

[2018-04-03 00:03] #32 closed

[2018-04-03 03:39] Pardhu448 commented on #38
Got an error when running tutorial notebooks at Multimodal featurization step. Is it related to #38 ?
Thanks.
---------------------------------------------------------------------------
Copying formation_measurement_feature to postgres
CalledProcessError                        Traceback (most recent call last)
<timed exec> in <module>()

~/Documents/Projects/local_governments/text_mining/fonduer_e

[2018-04-03 05:35] lukehsiao opened #43 "Add data model to docs"
We need better docs for the data model. For example, given a candidate in the lf_helpers, how do I view the sentence one of it's mentions is it? What attributes does a `Span` have? These are frequent questions that can be answered by looking at the code directly, but would be much more user friendly if we had docs for them.

Related: #32

[2018-04-04 01:47] #27 closed

[2018-04-04 01:47] #29 closed

[2018-04-04 01:47] #35 closed

[2018-04-06 21:50] lukehsiao opened #46 "Setup mailing list for discussions"
Rather than being stuck in GitHub Issues for techincal discussion about Fonduer, we should use a mailing list (more permanence and searchability).

[2018-04-07 01:44] lukehsiao commented on #46
Closed in  84364d8

[2018-04-07 01:44] #46 closed

[2018-04-08 22:06] mladvladimir opened #47 "[Errno 32] Broken pipe for Parser in parallel execution on OSX"
Hi,

In [fonduer-tutorials](https://github.com/HazyResearch/fonduer-tutorials), after running cell:
[code]

whenever is PARALLEL smaller than max_docs, I've got:
[code]

Otherwise (with PARALLEL bigger or equal than max_docs) result is empty tables in Postgresql.
When turning off parallelisation, it works.

Best regards

[2018-04-11 18:36] SenWu commented on #47
Hi @mladvladimir, Thanks for reporting this issue. Unfortunately, we did see this issue on our side. Can you give us more information about your environment and setup?

[2018-04-12 18:38] lukehsiao commented on #47
Hi @mladvladimir

Can you try a fresh install using brew for postgres and using a virtualenv rather than conda?

[2018-04-13 20:05] lukehsiao commented on #47
@mladvladimir Also, did you make sure to both create the db used in the tutorial, and download the tutorial data before running the tutorial?

[2018-04-14 20:41] mladvladimir commented on #47
@lukehsiao

I tried again.
New version of Postgresql is installed with brew (PostgreSQL 10.3);
virtualenv is created without anaconda;
database is created and data files downloaded according to tutorial;
storage schema  was initialized successfully (tables are created).
HTMLPreprocessor is defined without problems.
It failing constantly on  `corpus_parser.apply(doc_preprocessor, parallelism=PARALL

[2018-04-16 04:51] lukehsiao commented on #47
Unfortunately, I'm still not sure quite sure what is wrong. I haven't personally tested in ubuntu 18.04 either, we have mostly been using 16.04, as you can see in our e2e Travis test and in the tutorials. If you have any more error logs or information that might help us recreate the issue, we can keep looking at it.

We have tested with Python 3.5 and 3.6.

 Nice catch! I've opened a new PR (#48)

[2018-04-28 23:20] lukehsiao opened #49 "Version conflicts in dependencies"
[code]

`bleach` 2.1.3 is installed by `jupyter`. We also had

[code]

which will hopefully get resolved in the next release of `tensorboard` [[1]](https://github.com/tensorflow/tensorboard/pull/1142).

[2018-05-02 22:16] dhimmel commented on #9
Is https://github.com/HazyResearch/fonduer/commit/f310221c14319811c313887fa169f20a4f6b0cc1 something that should be cherry picked into HazyResearch/snorkel? CC @stephenbach

[2018-05-03 22:35] stephenbach commented on #9
Turns out we got a lot of this functionality from here: https://github.com/HazyResearch/snorkel/pull/876

Copied over the more robust package checking here: https://github.com/HazyResearch/snorkel/commit/ff1785e35c749f6674b15fc9b2cec96b4fc0718c

[2018-05-09 22:15] lukehsiao commented on #47
We've been able to reproduce this and are looking into it.

[2018-05-09 23:47] mladvladimir commented on #47
Thanks for info;
After some observing, it seems like Spacy pipeline call is problematic with parallelism:
https://github.com/HazyResearch/fonduer/blob/066b01c296c6f02b0b312f1170498b02da4cc780/fonduer/parser/spacy_parser.py#L128-L129

maybe I'm wrong.

[2018-05-10 00:44] lukehsiao commented on #47
This may be related: https://github.com/explosion/spaCy/issues/1572

[2018-05-10 06:46] munaAchyuta opened #51 "Can Fonduer extract arbitrary tabular data?"
I have a requirement where a table has three columns. first column data represent reach row's main header. and second,third column respective value of each row (in second,third column small regular expression function required to filter digits..etc). and data are text .

i want fonduer to consider each row as one candidate. how can i do that ?
and some cases where one row might have multiple parag

[2018-05-10 17:39] lukehsiao commented on #51
and some cases where one row might have multiple paragraphs(sub-rows), in that case i want fonduer to give me each paragraph in that row as separate row with concatenating main header(paragraph) to each sub-row.

Some more concrete examples of what you're trying to do would be helpful here. However, from your description, I do not think Fonduer is the right tool for you. Fonduer allows you to extr

[2018-05-10 17:42] #51 closed

[2018-05-10 17:50] lukehsiao commented on #38
I don't think this is related to encoding. I would guess that it is an issue in your postgres connection string. Is connecting with user `postgres`, password `uvce` and port `5432` correct? Per [the psql docs](https://www.postgresql.org/docs/current/static/app-psql.html)

[2018-05-21 13:26] hagen666 opened #54 "[Error]CalledProcessError in visual.py"
Hello,
In [fonduer-tutorials](https://github.com/HazyResearch/fonduer-tutorials), after running cell:
[code]
I got:
[code]
When I give a blank space between '-bbox' and '-layout' in line 59, visual.py：
[code]
it turned out to be like this many times:
[code]

Best regards.

[2018-05-21 13:48] hagen666 commented on #54
The document parsed by pdftotext is like:
[code]

[2018-05-21 16:53] lukehsiao commented on #54
What version of poppler-utils are you using?

[2018-05-21 21:10] #54 closed

[2018-05-22 04:45] hagen666 commented on #54
Thanks a lot! I've installed the newer version and solved the problem.

[2018-06-22 21:35] lukehsiao opened #56 "Refactor codebase into submodules for each pipeline phase"
Currently, Fonduer is kind of a monolitic package, where all database tables are created on init. In order to make development easier, we want to split Fonduer into sobmodules, each of which a single task in the pipeline:

1. parser
2. candidates
3. featurization
4. supervision
5. learning
6. utils

Database tables will only be created in the initialization of each of these independent modules.

T

[2018-06-22 22:05] lukehsiao opened #57 "Break up large Python files into reasonable sub-files"
For example, context.py is over 1000 lines of code and contains many classes which could reasonably be made into separate files.

[2018-06-23 00:22] #49 closed, assigned to nobody

[2018-06-24 02:28] lukehsiao opened #58 "Can we remove this return + yield?"
We have a strange bit of code here:

https://github.com/HazyResearch/fonduer/blob/32c09726fe94799e10cfacf596ab9c9e6eeee0a2/fonduer/async_annotations.py#L235-L242

If I change this to just `yield`, or just `return`, the travis tests break with an index out of bounds on the end-to-end tests [[1]](https://travis-ci.org/HazyResearch/fonduer/builds/395737547).

I'm not sure what's happening here.

---

[2018-06-25 23:48] lukehsiao commented on #56
All of our tables inherit from `delcarative_base()` so we should be able to do something similar to [[1]](https://stackoverflow.com/questions/19175311/how-to-create-only-one-table-with-sqlalchemy):

[code]

We probably want to use `checkfirst=True` [[2]](http://docs.sqlalchemy.org/en/latest/core/metadata.html?highlight=create_all#creating-and-dropping-database-tables).

[2018-07-02 21:59] #57 closed

[2018-07-03 22:08] lukehsiao commented on #56
We need to do some more cleaning-up. For example, we currently name our basic unit "Phrases" since historically, we were based on Snorkel which already took the name "Sentences". Now that we have rewritten this code, we should switch back to "Sentences".

[2018-07-03 22:46] lukehsiao commented on #56
We also want classes for `section`, `row`, `col`, `caption`, and `paragraph`.

[2018-07-07 01:39] lukehsiao opened #63 "Break doc_preprocessors into a directory of individual files"
Rather than having all the preprocessors in a single file.

[2018-07-07 05:45] #63 closed

[2018-07-08 04:41] lukehsiao opened #66 "Refactor docstrings and enforce using flake8-docstrings"
Some of our docstrings may be inaccurate, and many are missing altogether.

[2018-07-10 18:15] lukehsiao commented on #66
[code]
We have quite a ways to go here.

[2018-07-10 18:30] #58 closed

[2018-07-12 18:11] lukehsiao opened #69 "Support passing a single document to OmniParser"
Right now pdf_path must be a directory and not a single file. However, the preprocessors can operate on a single file. It would be good to have parity here.

[2018-07-16 22:29] #69 closed

[2018-07-16 23:28] lukehsiao opened #71 "Split lf_helpers into categories"
Rather than a monolithic file, we should split these based on their types and or hierarchies.

[2018-07-17 12:19] MhmdSaiid opened #73 "Error when copying feature updates to Postgresql database"
Hello,
I am getting this error when applying the batch feature annotator:
**CalledProcessError: Command 'cat /tmp/reg_topic_reg_topic_feature_0_*.tsv |  psql reg_topic  -p 5432 -c "COPY reg_topic_feature_updates(candidate_id, keys, values) FROM STDIN" --set=ON_ERROR_STOP=true' returned non-zero exit status 1**.

These are the info that I got:

[INFO] fonduer.udf - Clearing existing...
[INFO] fondu

[2018-07-17 17:59] lukehsiao commented on #73
Hi @MhmdSaiid, which version of Fonduer are you using? Do you have a username or password for your PostgreSQL database?

[2018-07-18 08:45] MhmdSaiid commented on #73
Hi @lukehsiao,
I am using Fonduer 0.1.8.
I am using Ubuntu 16.04.
My PostgreSQL database has a username but no password.
I am actually connected to a VM that is hosting the jupyter notebook server.

[2018-07-18 18:05] SenWu commented on #73
Hi @MhmdSaiid, thanks for your information. Can you share us the full log of your run? Also, can you try the cmd in your terminal?
`cat /tmp/reg_topic_reg_topic_feature_0_*.tsv | psql reg_topic -p 5432 -c "COPY reg_topic_feature_updates(candidate_id, keys, values) FROM STDIN" --set=ON_ERROR_STOP=true`

[2018-07-19 15:06] MhmdSaiid commented on #73
Hello @SenWu,
I re-encountered the error again. Unfortunately, deleting the tables didn't work this time.
Here is the log I get when running the **BatchFeatureAnnotator** :

ERROR START:
******************************************************************************************************
[INFO] fonduer.udf - Clearing existing...
[INFO] fonduer.udf - Running UDF...
[INFO] fonduer.async_annotations

[2018-07-20 04:58] lukehsiao commented on #73
Hi @MhmdSaiid, can you attach the `/tmp/reg_topic_reg_topic_feature_0_*.tsv` file?

[2018-07-20 17:48] chyikwei opened #79 "Typo in `get_page_horz_percentile` function"
Hi,

I am testing `lf_helpers` functions and find the return type of `get_page_horz_percentile` is a tuple instead of float value.
[code]
I think the `,` should be `/`, right?

Source:
https://github.com/HazyResearch/fonduer/blob/master/fonduer/supervision/lf_helpers.py#L920

[2018-07-20 17:57] SenWu commented on #79
Hi @chyikwei,

Thanks for pointing this out. This typo will be fixed in #80.

[2018-07-20 19:19] chyikwei commented on #79
thanks! close this issue now.

[2018-07-20 19:19] #79 closed

[2018-07-21 02:45] #56 closed

[2018-07-21 18:50] SenWu commented on #71
Addressed in #81.

[2018-07-21 18:50] #71 closed

[2018-07-24 03:53] lukehsiao opened #86 "Improving parser performance"
The current Parser takes quite a bit of time to process a large corpus of documents (~25min for 100 PDF datasheets on a consumer laptop). It would be nice to see what can be done to improve performance.

## Profiling Setup
I did some quick profiling using the [e2e hardware tutorial](https://github.com/HazyResearch/fonduer-tutorials/blob/f78ee9df4403d11d1475479a5ba065829de5dd83/hardware/max_storage

[2018-08-02 00:29] Allen8838 opened #90 "Transistor Image Tutorial - UnicodeEncodeError from CorpusParser"
Hello,

First off, thanks for this interesting library. I have only gone through it a little bit but am quite excited to explore its full capabilities.

I am going through the transistor_image_tutorial at the moment. Running the lines:

[code]
I get the following UnicodeEncodeError.

![transistor_image_tutorial - unicodeencodeerror](https://user-images.githubusercontent.com/35154803/43555578-05f25

[2018-08-02 01:14] lukehsiao commented on #90
Hi @Allen8838, are you using OSX or Linux?  Also, is this the [latest tutorials](https://github.com/HazyResearch/fonduer-tutorials) using Fonduer 0.2.3?

[2018-08-02 01:26] Allen8838 commented on #90
Hi @lukehsiao, I am using Bash on Ubuntu on Windows. Yes, this is the latest tutorial using Fonduer 0.2.3.

[2018-08-02 01:46] lukehsiao commented on #90
I'm not able to reproduce this on my Ubuntu machine. Can you post the full error log?

[2018-08-02 02:41] Allen8838 commented on #90
Please see below. It's one error log, broken into several snips.

![image](https://user-images.githubusercontent.com/35154803/43559087-797bdf62-95da-11e8-8bd1-da5e0815eee6.png)

![image](https://user-images.githubusercontent.com/35154803/43559246-50d023c4-95db-11e8-95cd-acd99fa4f925.png)

![image](https://user-images.githubusercontent.com/35154803/43559271-6717547c-95db-11e8-829f-8a8f55240ffe.png)

[2018-08-02 03:03] lukehsiao commented on #90
Which version of PostgreSQL are you using?

Can you verify that your postgres encoding is set to UTF8? Check by runnning:

[code]

[2018-08-02 14:51] Allen8838 commented on #90
Thanks for your help. I am using version 9.5.13.

Yea, you're right about the problem. The postgres encoding is set to SQL_ASCII.

![image](https://user-images.githubusercontent.com/35154803/43589881-a4ecaf56-963d-11e8-9e7f-2bc71eb8c9f3.png)

I tried the line above in creating a database but still saw that the encoding was SQL_ASCII. In case it may be helpful for others, I ended using this line in

[2018-08-02 19:16] Allen8838 opened #91 "Document Preprocessor for PDF Documents"
Hello,

I was wondering if there is a document preprocessor for PDF documents. I tried using the DocPreprocessor command but it looks like the parse_file function has not been built out yet. In the tutorial notebooks, it looks like both html files and pdf files are processed together, but I was wondering how I would go about parsing sentences for only pdf files. If there is some documentation I sh

[2018-08-03 03:57] lukehsiao commented on #90
Thanks for the follow-up @Allen8838! I don't know offhand how to change default encoding, but I do suspect it's based on setting the templates to be UTF8 rather than ASCII.

Also note that Fonduer expects Postgres 9.6 or above, so there may be other issues you run into with using postgres 9.5.13, so I'd recommend upgrading if you can.

[2018-08-03 03:57] #90 closed

[2018-08-03 04:11] lukehsiao commented on #91
Hi @Allen8838,

As you've noticed, DocPreprocessor is just the base class that the other preprocessors inherit from and isn't meant to be used bare.

**TLDR: For now, you'll need to get an HTML representation of your PDF documents using a third party tool like Adobe Acrobat. We're working on making this a more seamless process in the future.**

Your observation here is also correct. To give you a

[2018-08-03 12:03] Allen8838 commented on #90
Thank you.

[2018-08-03 12:05] Allen8838 commented on #91
Thank you Luke.

[2018-08-03 12:05] #91 closed

[2018-08-06 21:03] lukehsiao opened #92 "Move BatchFeatureAnnotator"
Currently this is in `async_annotators` within the `supervision` directory. It should be split out under `features`.

[2018-08-12 20:02] MhmdSaiid commented on #73
Hello @lukehsiao,
I was trying several stuff and found out that the problem was with how I converted from PDF to HTML.
Using Adobe Acrobat fixed the problem.
Unfortunately, I wasn't able to get the same error again so that I can attach the requested file.
Sorry for that and for the late reply.

Best Regards,
Mohammed Saeed

[2018-08-13 17:18] lukehsiao commented on #73
Hi @MhmdSaiid, `pdftotree` doesn't convert to plain HTML, but rather, it
converts to a html-like tree representation. It's on the roadmap to have
`pdftotree` integrated into Fonduer so that prior conversion from PDF to HTML
is not required, but currently `pdftotree` output is not supported.

Closing this feature issue since it appears using Acrobat resolved the problem.

[2018-08-13 17:18] #73 closed

[2018-08-14 19:01] lukehsiao commented on #92
This issue will be addressed in the annotation refactor which will support multi-task learning. Closing this issue for now.

[2018-08-14 19:01] #92 closed

[2018-08-14 21:04] lukehsiao commented on #86
We may be able to improve performance of the parser and Mention/Candidate extractors by changing how we do inserts into the database using SQLAlchemy. Specifically, we may want to utilize [bulk inserts with SQLAlchemy Core](http://docs.sqlalchemy.org/en/latest/faq/performance.html#i-m-inserting-400-000-rows-with-the-orm-and-it-s-really-slow).

[2018-08-17 19:20] viveksjoseph opened #101 "Fonduer max_storage_temp_tutorial error while parsing html files"
**To Reproduce**

While doing _max_storage_temp_tutorial_ tutorial in the attached Jupyter notebook, I get an error while trying to execute the following code:

[code]
**Expected behavior**
To complete parsing without any issue

**Error Logs/Screenshots**
The following is the error that I got:

The following is the complete error stacktrace
[code]

**Environment (please complete the following info

[2018-08-17 19:33] SenWu commented on #101
Hi @viveksjoseph,

I think the issue is the encoding of your PostgreSQL database since we assume the encoding is UTF-8 while default PostgreSQL encoding on Windows is not.

Here is one reference about how to set the encoding in PostgreSQL: #90.

We also will update the fonduer to enable fonduer to set PostgreSQL encoding in v0.3.0.

Thanks,
Sen

[2018-08-17 19:38] lukehsiao opened #102 "Insufficient checking for missing PDFs in parser"
**Describe the bug**
Insufficient missing_pdf checking in parser.py

https://github.com/HazyResearch/fonduer/blob/1913f89ded2e73cb44fc5d4752bed9535892a2d8/fonduer/parser/parser.py#L130-L139

For example, this misses the case where the pdf_path is a file, but is HTML.

**Expected behavior**
If a user is using HTML as input, but has visual parsing enabled, they should get an error describing that PD

[2018-08-17 20:12] viveksjoseph commented on #101
Thank you. It worked like a charm.

1. I dropped my existing database:
`dropdb stg_temp_max
`

2. created a new database with UTF8 encoding
`createdb -E UTF8 -T template0 stg_temp_max`

3. Ran the notebook again. It works!

`

[2018-08-17 20:12] #101 closed

[2018-08-17 21:24] HiromuHota opened #104 "Support more languages"
**Is your feature request related to a problem? Please describe.**
My documents are written in Japanese, which is not supported by SpaCy hence not by Fonduer.

**Describe the solution you'd like**
According to [SpaCy](https://spacy.io/usage/models), tokenization of Japanese and other languages is alpha supported.
Please support these languages if tokenization is useful than nothing for Fonduer.

[2018-08-17 22:54] #102 closed

[2018-08-20 23:48] SenWu commented on #38
In v0.3.0, fonduer will allow the user to set database encoding.

[2018-08-20 23:48] #38 closed

[2018-08-21 13:02] clayms opened #111 "only parsing first page of 136 page pdf"
When running the code in the fonduer-tutorials [max_storage_temp_tutorial](https://github.com/HazyResearch/fonduer-tutorials/blob/master/hardware/max_storage_temp_tutorial.ipynb) notebook to parse the pdf linked to below, only the first page is parsed.
I only get 19 sentences and all of them are from the first page.

**To Reproduce**
Steps to reproduce the behavior:
1. download https://www.theice.

[2018-08-21 13:55] clayms commented on #111
related to this https://github.com/HazyResearch/pdftotree/issues/27#issuecomment-414673633 ?

[2018-08-21 17:28] lukehsiao commented on #111
@clayms can you try converting the PDF to HTML using Adobe Acrobat to see if that is successful?

[2018-08-22 13:25] clayms commented on #111
Using MS Word to convert leads to this error:
[code]

I replaced the MS Word generated html file with the Poppler pdftohtml file and ran the same code again, and it worked, but only output 19 sentences from the first page again.

[2018-08-22 14:05] clayms commented on #111
possible alternative?

https://github.com/coolwanglu/pdf2htmlEX

[2018-08-22 14:14] clayms commented on #111
this looks promising

https://mupdf.com/docs/manual-mutool-draw.html

[2018-08-22 15:20] clayms commented on #111
ok!  The following works

first:
[code]

then
[code]
very slow for one document though
[code]

then
[code]

[code]

mutool is open source so it seems you should be recommending this as the conversion tool.

[2018-08-22 15:20] #111 closed

[2018-08-23 18:01] SenWu commented on #6
Done in #115

[2018-08-23 18:01] #6 closed

[2018-08-24 07:04] lukehsiao commented on #86
In progress. See #117.

[2018-08-30 18:13] HiromuHota opened #125 "Wrong NER tag"
I'm not really sure, but it looks like a bug unless I'm missing something.

**Describe the bug**

`test_parser.py::test_parse_md_details` tests NER tags at [here](https://github.com/HazyResearch/fonduer/blob/master/tests/parser/test_parser.py#L137) like below:

[code]
where `header.words == ['Sample', 'Markdown']`, but neither 'Sample' nor 'Markdown' is ORG (organization).

**To Reproduce**

You c

[2018-08-30 19:58] #86 closed

[2018-08-30 19:59] lukehsiao commented on #86
It seems we've done the low hanging fruit here for now.

[2018-08-30 20:31] j-rausch commented on #125
I am also confused about this behavior. I think it is caused by spacy itself.

We changed the parser to not process each sentence in isolation anymore.

This is an example of the same thing happening in the default spacy pipeline, when there's a second sentence in the document string:

[code]

[2018-08-30 20:35] lukehsiao commented on #125
You can also inspect spaCy behavior [via this demo site](https://explosion.ai/demos/displacy-ent?text=Sample%20Markdown%0A&model=en_core_web_sm&ents=person%2Corg%2Cgpe%2Cloc%2Cproduct%2Cnorp%2Cdate%2Cper%2Cmisc). Seems to classify `Sample Markdown` as an ORG there as well (likely because of the capitalization?)

[2018-08-30 20:37] HiromuHota commented on #125
I observed another interesting thing when adding a comma between first and second sentence.

[code]

[2018-08-30 21:02] j-rausch commented on #125
I think the second argument is interpreted as the 'disable' argument in that case.
Just debugged it and __call__ in spacy/language.py has the disable variable:
`disable = {str} ' This is some simple, basic markdown'`
In principle this should not work, because 'disable' should be of list type:
https://spacy.io/api/language#call

A bit off-topic:
Spacy doesn't seem to check for the type of this argu

[2018-08-31 00:01] HiromuHota commented on #125
A few more tests at the spaCy's demo site (mentioned by @lukehsiao ) led me to a conclusion that this is not necessarily a bug of Fonduer and this "strange" behavior came from spaCy.
`Sample Markdown` could be classified as an organization and could be something else due to the surrounding words, capitalizations, etc.
So the test `test_parser.py::test_parse_md_details` is programmatically right, b

[2018-08-31 05:02] Prabh06 opened #129 "Using Oracle in place of Postgres for fonduer"
**Is your feature request related to a problem? Please describe.**
I have an Oracle instance, and, want to use it instead of Postgres.

**Describe the solution you'd like**
What all changes are required to make the switch, and, is there an existing config/notes that can help to make the change. From my understanding the Alchemy supports both and we have to just make sure any Postgres specific inti

[2018-09-01 22:13] lukehsiao commented on #129
This is correct. Currently, we use postgresql-specific features of sqlachemy that would need to be replaced as well. For example, if you search for `sqlalchemy.dialects import postgresql` you'll see several files which utilize postgres-specific features. We'd need to make sure that there were equivalent features using other backends as well.

[2018-09-02 00:08] j-rausch opened #134 "Generating/checking matching pdf file paths for visual linking outside of parser"
**Is your feature request related to a problem? Please describe.**
At the moment we use `HtmlDocPreprocessor` to separately generate pre-processed documents that are fed into the parser.

If we want to extract visual features, we currently need corresponding pdf files for each input document. Fetching the pdf file path currently happens inside parser, which is initialized with a `pdf_path` argumen

[2018-09-05 00:29] j-rausch commented on #104
We added support for Japanese spacy tokenization in #130. More languages that are alpha-supported by spacy could in principle be added in the future. See also our FAQ: https://fonduer.readthedocs.io/en/latest/user/faqs.html#how-can-i-use-use-fonduer-for-documents-in-languages-other-than-english

[2018-09-05 00:40] HiromuHota commented on #104
Thank you so much for your hard work!
Now that even alpha-supported languages can theoretically be added in the future, this issue can be closed.
If someone wants another language to be supported (by Fonduer), he/she can create another issue for that specific language.

[2018-09-05 00:40] #104 closed

[2018-09-05 20:49] j-rausch opened #137 "Separate workers for parsing and database insertions"
**Is your feature request related to a problem? Please describe.**
Decouple `UDF` processes from the backend/database session.
Right now, when we run `UDFRunner.apply_mt()`, we create a number of `UDF` worker processes. These processes all own an sqlalchemy `Session` object and add/commit to the database at the end of their respective parsing loop.

**Describe the solution you'd like**
Make the UD

[2018-09-06 06:05] Prabh06 opened #139 "Matchers using data model utilities based on _get_node() are too slow"
I was generating candidates from a document where I pretty much needed all the **mentions of the bold text in the first column in the tables:**

lambda function matcher initialisation:
[code]
candidate extractor:

[code]
**I am running this on a document with 3620 phrases.**

Is this the expected time for this matcher..? or do you see anything here that is causing this..?

[2018-09-06 15:51] MhmdSaiid opened #140 "Are PDFs required? Details about the feature library?"
Hello,
I have two questions please:

1) Fonduer can only work with PDF files along with HTML/XML. The PDF files are mandatory. Right?

2) Could you please explain more about the extended features you use when you apply featurization?(I want more than the features in the paper.)

Thank you for your time.
Best Regards,
Mohammed Saeed

[2018-09-06 17:18] lukehsiao commented on #139
This does not seem normal. But, I don't see any obvious errors in what you've written.

Is it possible for you to share a minimal working example with us (e.g. the document and the code up to the candidate extractor?). We may be able to help debug.

[2018-09-10 06:27] Prabh06 commented on #129
@lukehsiao is this feature in plans or on the roadmap?

[2018-09-10 18:56] lukehsiao commented on #129
@Prabh06 We would love to support this. Unfortunately, it's a non-trivial
change. To do it well, we would need to refactor Fonduer so that the library
and the database are significantly more decoupled than they are now. In
general, this is something we would like to accomplish, but don't have a
concrete path to do so yet.

If you have design suggestions, or are able to help contribute some work,
p

[2018-09-11 02:18] j-rausch opened #144 "Change default behavior for Ngram token splitting"
**Is your feature request related to a problem? Please describe.**
I noticed that `Ngrams` objects have a `split_tokens` argument that is by default set to `("-","/")`.
(https://github.com/HazyResearch/fonduer/blob/master/src/fonduer/candidates/mentions.py)
Additionally, this separation is exclusively applied to split a single mention into two mentions, only for the first occurrence of such charac

[2018-09-11 13:53] mfboulos opened #147 "Context type discussions"
Upon diving into the source code, and finding a situation where this would be imperative to improve the runtime of my program, I ran into 2 potential issues, or lack of knowledge of any workarounds.

I saw that Context types of candidate_subclass args are always set to Span in the database model. From my understanding, this can be any Context type (Sentence, Paragraph, etc.) but hasn't been implem

[2018-09-11 22:06] lukehsiao commented on #66
For v0.3.0, we just need docstrings for our API. We will not enforce it with flake8-docstrings yet.

[2018-09-11 22:16] #140 closed

[2018-09-12 19:54] SenWu commented on #139
Hi @mfboulos ,

Thanks for your information.

The underlying strategy to extract mentions is to enumerate all possible phrases in the sentence and verify them using matchers provided by the user. That might be a potential reason why it's slow. But this is a good catch. We will improve the strategy to handle the full sentence case in the next release v0.3.0 (hopefully this week).

In v0.2.3, It wil

[2018-09-12 20:12] Prabh06 commented on #139
@mfboulos a quick tip, we were also facing the issue of candidates exploding if we have more than 2 spans/args, to increase the performance we created 2 separate candidates with 2 spans/args each and after the candidate extraction, we joined them using only 1 span/arg in each

[code]
This makes sure that cross product happens only among the 2 spans/args

[2018-09-12 20:34] Prabh06 commented on #139
@lukehsiao @SenWu I have found that adding an if condition to the lambda function matcher increases the time taken exponentially.
Here is the working code with sample documents. [test.zip](https://github.com/HazyResearch/fonduer/files/2376778/test.zip)

[2018-09-12 22:53] lukehsiao commented on #139
Thanks @Prabh06 I've been able to replicate the behavior on my machine. We'll see what we can do.

[2018-09-13 00:09] SenWu commented on #147
Right now, fonduer supports `Span` and `Image` as members of `candidate_subclass`, and the one you observed is because you define `candidate_subclass` with `Span`.

This is user-defined. If users want to have different types of `Context`s to extract, they need to update the `MentionSpace` to support that.

[2018-09-13 14:56] mfboulos commented on #147
I have 2 questions then. Would it be feasible to expand the scope of possible contexts for candidate_subclass? And also, seeing how there's not much documentation for this project, where can I define a Context to extract? I have not come across MentionSpace in any of my exploring through the source code.

Note: for most cases where users are asking for clarity such as this, until there is a full s

[2018-09-13 19:18] lukehsiao commented on #147
It is going to be renamed `MentionSpace` in v0.3.0. In v0.2.3 it is called `CandidateSpace`.

To see some more of the functionalities, including defining a custom MentionSpace/CandidateSpace, i recommend checking out the [Tutorials](https://github.com/hazyresearch/fonduer-tutorials). Althought we do not have any tutorials in expanding the scope of possible contexts to extract, we do show custom Me

[2018-09-13 20:58] SenWu commented on #147
Just to share you more information.

The answer is YES. The users can customize the `CandidateSpace` to the information they want to extract. As Luke mentioned, we have tutorials to show how to use it and there is a [hardware_imamge tutorial](https://github.com/HazyResearch/fonduer-tutorials/tree/master/hardware_image) to show how to extract images as candidates. In the v0.3.0, here are the pointe

[2018-09-14 18:42] mfboulos commented on #147
Thanks! I understand how the CandidateSpace the user wants to extract is customizable, but only to the extent of Spans and Images. Do you foresee this expanding further, i.e. Sentences?

[2018-09-14 19:07] lukehsiao commented on #139
Closed by #152.

[2018-09-14 19:07] #139 closed

[2018-09-14 22:04] SenWu commented on #147
Some of our collaborators' applications extract candidates based on the full sentence. So I would say, Yes. And it should be easy to extend to other objects well.

[2018-09-21 04:19] #144 closed

[2018-09-22 22:16] j-rausch opened #161 "`longest_match_only` default value in `Matcher` subclasses"
**Describe the bug**
When using a simple `LambdaFunctionMatcher`, I would expect the matcher to return all mentions for which the corresponding function returns `True`.
However, `LambdaFunctionMatcher` as a subclass of `_NgramMatcher`/`_Matcher`, it has the `longest_match_only=True` attribute.
This can lead to cases where a sub-span, for witch the lambda function returns `True`, will *not* be adde

[2018-09-26 13:18] MhmdSaiid opened #163 "get_between_ngrams bug?"
Here is some code from the get_between_ngrams function.
If span0 is before span1,then we should either take the right_ngrams of span0 or the left ngrams of span1.

If span 1 is before span0, we should take the right ngrams of span1 or the left ngrams of span0.

But in the code below, we take the left ngrams of span1.
Shouldn't it be the opposite?

https://github.com/HazyResearch/fonduer/blob/28c09

[2018-09-26 17:06] lukehsiao commented on #163
Yes, you're right, we should take the left ngrams of span1. We'll fix this with the next release.

[2018-09-26 18:10] #163 closed

[2018-09-27 18:52] #161 closed

[2018-09-28 15:08] mfboulos opened #166 "Visual position data for words is sometimes inaccurate"
**Description**

For some words, the visual position data (using sentence.top, for example) is not accurate. This falls outside of the domain of the edge case of sentences being next to the edge of a page or spanning over different pages; even in the middle of a page, two words that are aligned horizontally may end up having drastically different tops.

This seems to be mostly the case with top an

[2018-09-28 18:13] mfboulos commented on #166
No, the document I used contains proprietary data. I suggest using a document primarily formatted into tables, I don't know for sure if that was the primary cause since the entire document was made of tables, but it might be a good starting point.

[2018-10-01 09:15] Prabh06 commented on #166
@lukehsiao I have also faced this issue while visualizing nodes/mentions in tables. Here is the sample doc [data.zip](https://github.com/HazyResearch/fonduer/files/2433377/data.zip)

[2018-10-05 20:20] #147 closed

[2018-10-18 01:51] lukehsiao opened #170 "Visualizer fails with a PolicyError"
**Describe the bug**
This is a known bug caused by a recent change to ImageMagick and can be resolved by editing the policy file.

**To Reproduce**
In the [tutorials](https://github.com/HazyResearch/fonduer-tutorials/blob/b8ef73129bfa5b351d1fa5c3b6092e516f4b7c18/hardware/max_storage_temp_tutorial.ipynb), it will fail on this display call:

[code]

**Error Logs/Screenshots**
The user will see an er

[2018-10-30 10:13] wanted68 opened #171 "LogisticRegression MemoryError"
I am using fonduer Logistic Regression to train a model on some textual data in order to extract relations. Here is the code I use:
[code]
The code doesn't have any problem when I run it on 20 Docs but when I increase the number of Docs to 40 I get this error:
[code]
I have 16,0 GB Total Physical Memory.  F_size = 6347423 and F_type = float64

[2018-10-30 10:17] SenWu commented on #171
The feature size is large, I would recommend you to use `SparseLogisticRegression` instead. It uses the same interface with `LogisticRegression` but sparse version of it which saves memory.

[2018-10-30 15:01] wanted68 commented on #171
That worked. thanks

[2018-10-30 18:43] #171 closed

[2018-10-31 12:37] sivasrc commented on #47
Hi @SenWu,

When I try execute the given sample
%time corpus_parser.apply(doc_preprocessor,parallelism=PARALLEL), getting the below issue, not sure why, any help would be appreciated.

[INFO] fonduer.utils.udf - Running UDF...
0% 0/78 [00:00<?, ?it/s]
---------------------------------------------------------------------------
SystemExit                                Traceback (most recent call la

[2018-10-31 17:44] DoraEx commented on #166
Having the same issue. I've been trying to check horizontal alignment using the top and bottom properties of the words in a sentence, but sometimes the words in the same sentence have very large differences in their values. Also, sometimes the page number for some or all of the words are wrong. It most commonly happens to words near the top or bottom of a page, but that is not always the case.

[2018-10-31 18:03] SenWu commented on #47
Hi @sivasrc, it seems like your issue is related to downloading spacy language module. I suggest you try it again or download the module manually (here is the reference: https://spacy.io/usage/models).

[2018-10-31 18:18] SenWu commented on #166
Thanks @DoraEx @Prabh06 @mfboulos for your information. We are checking that now. To share you more information, we use Poppler to extract the coordinates of words and align word from users' input with coordinates from Poppler in [visual_linker](https://github.com/HazyResearch/fonduer/blob/master/src/fonduer/parser/visual_linker.py) and sometimes they are not perfectly matching and we use fuzzy ma

[2018-10-31 18:23] SenWu opened #172 "SparseLSTM to support large scale application"
**Is your feature request related to a problem? Please describe.**
LSTM will cause memory issue for large-scale application. SparseLSTM will take advantages of the sparse representation of other modality features which will save memory for the large application.

[2018-11-02 05:45] SenWu commented on #172
Addressed in https://github.com/HazyResearch/fonduer/pull/175

[2018-11-02 05:45] #172 closed

[2018-11-05 06:08] SenWu commented on #47
This issue is fixed by Spacy and test it in https://github.com/HazyResearch/fonduer/pull/176.

[2018-11-05 06:08] #47 closed

[2018-11-08 06:10] gzll opened #177 "Is there a way to use Chinese with spaCy alpha support?"
Want to use fonduer to parse Chinese document.

[2018-11-08 06:15] SenWu commented on #177
Hi @gzll, please check our FAQs about how to use fonduer for documents in languages other than  English (https://fonduer.readthedocs.io/en/latest/user/faqs.html#how-can-i-use-use-fonduer-for-documents-in-languages-other-than-english).

[2018-11-08 06:17] gzll commented on #177
I just followed the suggest in the FAQs " If you would like to use other languages with spaCy alpha support, which are not yet integrated in Fonduer, feel free to open an Issue."

[2018-11-08 06:20] SenWu commented on #177
Hi @gzll, we love to support Chinese and if you can submit a PR of Chinese support that will help a lot.

[2018-11-08 06:38] gzll commented on #177
OK. I will try.

[2018-11-15 00:51] lukehsiao opened #178 "Improve error message on Meta failure"
**Describe the bug**
The FAQs include one for handling "fe_sendautho no password supplied", which typically occurs on a machine where postgres was freshly installed. However, in Fonduer v0.3.5, this error is caught and presented as a more generic error:

https://github.com/HazyResearch/fonduer/blob/50b9c322a2be79b70d22100977f80778978517c7/src/fonduer/meta.py#L26-L32

**Expected behavior**
We shoul

[2018-11-15 12:26] vishnuraj007 opened #180 "Supporting Fonduer on Windows"
I am new to Fonduer , is there any steps to install fonduer in a windows machine.
https://fonduer.readthedocs.io/en/latest/user/getting_started.html
Above link shows to how to  install external dependence other than Windows system.
Could you please help ?

[2018-11-15 17:59] lukehsiao commented on #180
Fonduer does not currently support Windows. You could try using a Ubuntu virtual machine.

Or, you may be able to go through the process of debugging how to get it to work with Windows. If you're successful, we'd be happy to add it to our docs.

[2018-11-15 22:18] #178 closed

[2018-11-18 02:57] Safranchik opened #181 "Parser is not adding documents to database because table is parent of paragraph"
When parsing certain HTML files, the parser is unable to add to the database all sections that have tables as parents.

I implemented a quick solution by adding two lines of code after line 583 in parser.py, and was able to read the documents. However, this may not be the most efficient solution (if any at all) for creating a corresponding tree structure of the section.

HTML file parsed:
[20841.t

[2018-11-27 18:36] HiromuHota commented on #170
I also noticed this issue. The workaround that I took for Docker is to remove the file.
https://github.com/HazyResearch/fonduer-tutorials/blob/master/Dockerfile#L14

[2018-12-03 15:46] j-rausch opened #186 "`get_row_ngrams` and `get_col_ngrams` return ngrams for mentions not inside tables"
**Describe the bug**
`get_row_ngrams` and `get_col_ngrams` in https://github.com/HazyResearch/fonduer/blob/master/src/fonduer/utils/data_model_utils/tabular.py utilize `_get_axis_ngrams`.

If the given mention is not inside a table at all, the two functions could still return ngrams, because no `is_tabular()` check is performed before `get_sentence_ngrams` is called in https://github.com/HazyResea

[2018-12-04 06:43] lukehsiao opened #187 "Loosely pin dependencies in setup.py"
**Is your feature request related to a problem? Please describe.**
We want to avoid the issue we've seen where one of our dependencies update and consequently breaks `fonduer`.

**Describe the solution you'd like**
I'm imagining something like

Basically, something similar to [caret requirements](https://doc.rust-lang.org/cargo/reference/specifying-dependencies.html#caret-requirements) that are de

[2018-12-04 11:14] sivasrc commented on #47
Thanks for your response.

I would like to locate the section, sub-section (level 2,3,4 etc) and
sentences beneath, and relate them using Fonduer.. can I achieve it?

On Wed 31 Oct, 2018, 11:48 PM SenWu <notifications@github.com wrote:

[2018-12-05 00:59] HiromuHota opened #188 "TypeError: apply() missing 1 required positional argument: 'doc' during mention_extractor.apply(docs) that extracts MentionCells"
**Describe the bug**

`MentionCells` cannot be extracted and the following error message appears.
[error.txt](https://github.com/HazyResearch/fonduer/files/2646709/error.txt)

**To Reproduce**
Steps to reproduce the behavior:

1. `docker-compose up` hiromuhota/fonduer-tutorials:0.4.0
2. Open hardware_image/transistor_image_tutorial.ipynb
3. Replace figs with cells like below

[code]
4. Execute `me

[2018-12-05 01:11] HiromuHota commented on #188
See the actual notebook if it helps.
[transistor_image_tutorial.ipynb.zip](https://github.com/HazyResearch/fonduer/files/2646759/transistor_image_tutorial.ipynb.zip)

[2018-12-05 01:21] SenWu commented on #188
In the code above, you need to use `DoNothingMatcher()` in `MentionExtractor ` instead?

[2018-12-05 01:41] HiromuHota commented on #188
That was it.
Both `DoNothingMatcher()` and `MentionCells()` should be with parentheses, meaning they should be instantiated.

[2018-12-05 01:41] #188 closed

[2018-12-06 23:18] lukehsiao opened #190 "Update code to use Python 3.6+'s f-strings"
Given that we're only supporting Python 3.6+, we can take advantage of Python 3.6's f-strings in the codebase.

Clearly, this has no functional impact, just might be a simple way to cleanup or make some logging code more concise. Low priority.

**Additional context**
- https://realpython.com/python-f-strings/
- https://www.python.org/dev/peps/pep-0498/

[2018-12-09 19:15] SenWu commented on #186
@j-rausch Will you submit a PR to fix it? Thanks!

[2018-12-09 20:08] SenWu commented on #177
@gzll I have implemented a basic support for Chinese tokenization in fonduer here https://github.com/HazyResearch/fonduer/pull/192. Feel free to test it and enhance it.

[2018-12-10 09:19] SenWu opened #193 "Upgrade to PyTorch 1.0"
PyTorch 1.0 is out!

[2018-12-10 12:08] j-rausch commented on #186
Sure, just wanted to make sure you guys agree on the desired behavior.

[2018-12-11 00:45] SenWu commented on #177
I am closing this issue now, feel free to reopen it if there is more need to do.

[2018-12-11 00:45] #177 closed

[2018-12-11 00:47] gzll commented on #177
Great, Thanks

[2018-12-12 19:02] #186 closed

[2018-12-13 19:01] mrmammadov opened #195 "UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe9 in position 1028: invalid continuation byte"
Hello, I am on Linux Ubuntu 18.04 LTS. Following end-to-end tutorial, I am trying to parse my PDF files. I have to also convert PDF to HTML for Parsing much robustly to Fonduer Data Model(This is what is written in tutorial) But while applying the apply function to my Parser, I get the following issue in the attachment. I add 'utf-8' as an argument to preprocessor, but no success
![vba](https://us

[2018-12-13 20:04] lukehsiao commented on #195
Please attach example documents and any other information necessary for us to reproduce this issue.

[2018-12-24 11:37] SenWu commented on #195
Hi @mrmammadov,

We don't have MemoryError from Spacy before, but if don't only want to do word tokenization, you can set `lingual=False` which should save a lot of memory.

Sen

[2018-12-26 02:14] SenWu commented on #190
#202

[2018-12-26 03:10] #125 closed

[2018-12-30 18:04] #190 closed

[2019-01-25 10:14] rahultripathi94 opened #208 "unable to load and save model"
Unable to save and load model

[code]
-------------error encountered--------------------------------------
[code]

------------------------also tried-----------------------------------------
[code]

Whenever we try to load the model it throws the above error.

Please demonstrate a solution or tell the steps to save and load the model. A working snippet would be fine.

[2019-01-26 19:55] SenWu commented on #208
Hi @rahultripathi94,

Thanks for posting your issue here. As you may be aware, in Fonduer learning, it builds the model during training (see here for ref: https://github.com/HazyResearch/fonduer/blob/master/src/fonduer/learning/classifier.py#L198). So when you load the model directly it causes the issue. We are planning to update this design (separate building model and training) in the next relea

[2019-01-28 03:15] #193 closed

[2019-01-28 07:42] rahultripathi94 opened #210 "how to call predict function"
I was actually trying to call predict function on logistic regression but it says logistic regression has no function predict.

disc_model.predict((train_cands_person[0], F_train_cands_person[0]))
--------------------------------error--------------------------------
AttributeError: 'LogisticRegression' object has no attribute 'predict'

A code snippet will be fine with instructions.

-------------

[2019-01-28 09:45] #210 closed

[2019-01-30 02:41] #208 closed

[2019-01-30 17:24] #180 closed

[2019-02-01 22:36] lukehsiao opened #211 "Add docstrings for `spread` parameter of functions like get_row_ngrams"
**Is your feature request related to a problem? Please describe.**
The `spread` parameter of `get_row_ngrams` is not documented in docstrings.

**Describe the solution you'd like**
Add the docstring to describe that the spread allows you to look at additional rows/columns.

[2019-02-06 03:13] lukehsiao opened #213 "sqlalchemy: ObjectDeletedError"
**Describe the bug**
During Candidate Extraction, some of the UDFs crash with a `sqlalchemy.orm.exc.ObjectDeletedError` on impllicit spans.

**To Reproduce**
Unfortunately, this requires a large dataset to reproduce. I will update this with a minimal example if I can find one. Otherwise, I've currently seeing it on the full transistor dataset when extracting candidates as follows

[code]

**Expect

[2019-02-12 20:21] lukehsiao opened #217 "perf: do not store redundant feature strings for each candidate"
The size of the feature table is very, very large because we store the strings of each feature for each candidate, even though many of these strings are shared between candidates. This also slows down queries. We should have some additional table which maps to those strings, so that those strings do not all need to be stored.

[2019-02-17 18:30] #211 closed

[2019-02-19 08:02] SenWu commented on #129
Closing it for now, feel free to reopen.

[2019-02-19 08:02] #129 closed

[2019-02-19 08:02] #170 closed

[2019-02-26 19:55] lukehsiao opened #219 "Allow disabling specific feature types through config file"
**Is your feature request related to a problem? Please describe.**

Fonduer includes a feature library of textual, structural, tabular, and visual features. It would be convenient for experimental purposes to be able to disable classes of features through the [configuration file](https://fonduer.readthedocs.io/en/latest/user/config.html).

**Additional context**
For example, it would make running

[2019-02-28 16:16] lukehsiao commented on #213
Reopening. This is still an issue.

[2019-03-22 16:35] HiromuHota opened #225 "Black format check result inconsistent between different Black versions"
**Describe the bug**

Black format check result is inconsistent between 18.9b0+ and 18.6b3 as described below.

[code]

**To Reproduce**
Steps to reproduce the behavior:

See above.

**Expected behavior**

A solution is either
1. Reformat `src/fonduer/learning/__init__.py`
2. Make sure black is 18.9b0+ by defining so in `requirements-dev.txt`

**Error Logs/Screenshots**
If applicable, add error lo

[2019-03-22 16:52] HiromuHota commented on #225
The root cause is the inconsistent formatting between isort and black (18.6b3) (https://github.com/ambv/black/issues/250).
Since https://github.com/ambv/black/pull/504 (i.e., Black 18.9b0+), black became consistent with isort.
Therefore, we should make sure to use black 18.9b0+. Let me submit a PR.

[2019-03-22 21:09] HiromuHota opened #227 "Not compatible with spaCy v2.1.0"
**Describe the bug**

Fonduer is not compatible with spaCy v2.1.0

**To Reproduce**
Steps to reproduce the behavior:
1. Install spaCy v2.1.0
2. Run tests

**Expected behavior**

Be compatible with spaCy v2.1.0 and higher

**Error Logs/Screenshots**

[code]

**Environment (please complete the following information):**
 - OS: Ubuntu 18.04
 - PostgreSQL Version: 11.1-1.pgdg90+1
 - Poppler Utils Versi

[2019-03-22 21:42] HiromuHota opened #229 "Travis CI job takes longer than the 50 minutes limit"
**Describe the bug**

Travis CI job takes longer than the 50 minutes limit.
(https://docs.travis-ci.com/user/customizing-the-build/#build-timeouts)
As a result, recent jobs for PRs, which have to start without pip cache, did not finish.

**To Reproduce**
Steps to reproduce the behavior:
1. Submit a PR.

**Expected behavior**

Travis CI job should finish even for PRs.

**Error Logs/Screenshots**
If

[2019-03-23 00:16] SenWu commented on #227
A WIP PR is here #230.

[2019-03-25 18:38] #225 closed

[2019-03-25 21:38] lukehsiao commented on #229
This will ideally be resolved along with #230.

[2019-03-25 21:53] HiromuHota opened #231 "For Japanese, Mecab should use unidic instead of ipadic"
**Describe the bug**
A clear and concise description of what the bug is.

Mecab is a text segmentation library for Japanese.
There are a few dictionaries for Mecab: ipadic, unidic, etc.
How a text is segmented depends on the dictionary in use.
spaCy assumes unidic is used (https://spacy.io/usage/models#languages).
However, [FAQ](https://fonduer.readthedocs.io/en/latest/user/faqs.html#how-can-i-use

[2019-03-26 08:06] #227 closed

[2019-03-26 08:08] SenWu commented on #229
Resolved in #230

[2019-03-26 08:08] #229 closed

[2019-03-26 23:49] #231 closed

[2019-04-04 06:38] SenWu commented on #213
Do we still observe this issue?

[2019-04-04 20:11] lukehsiao commented on #213
Yes.

[2019-04-04 23:35] HiromuHota commented on #213
I've just observed the same error message (not sure if it is exactly the same issue) during `candidate_extractor.apply`
I'm using Fonduer Version: 0.4.0.

[code]

[2019-04-04 23:42] HiromuHota commented on #213
In my case,
[code]
works just fine. Maybe `filter(Candidate.type == candidate_class.__tablename__)` is doing wrong.
https://github.com/HazyResearch/fonduer/blob/7a5df470addb8cacaeed927422e0255b36e0e3a4/src/fonduer/candidates/candidates.py#L127-L129

[2019-04-10 16:12] HiromuHota opened #242 "Why does Fonduer require PostgreSQL version 9.6 or above?"
The [Doc](https://fonduer.readthedocs.io/en/latest/user/getting_started.html#installing-external-dependencies) says "Fonduer requires PostgreSQL version 9.6 or above."
Why 9.6 or above?

[2019-04-10 20:34] SenWu commented on #242
Fonduer used to use database operations using sql commend instead of SQLAlchemy query which requires advanced syntax that only provides in PostgreSQL v9.6 or later. Fonduer is only tested to work using PostgreSQL 9.6 or above. So, we recommend to use PostgreSQL v9.6 or later.

[2019-04-10 20:51] HiromuHota commented on #242
Now that SQLAlchemy is used, Fonduer may work without any problem (maybe performance?) with postgres 9.5 or earlier, but not tested. I see.

Just for the record, which one specifically? The [ReleaseNote](https://www.postgresql.org/about/news/1703/) of 9.6 says a list of new features introduced at 9.6.

[2019-04-10 21:06] SenWu commented on #242
Yes, It probably works with old version as well. We were using SQL directly to improve the performance  (e.g., https://github.com/HazyResearch/fonduer/pull/157/commits/e7ab1a10f965aee842845d2f763047ae417c6556).

[2019-04-10 21:15] HiromuHota commented on #242
I didn't mean which line of code, but I meant which feature, introduced at 9.6, Fonduer is used to depend on.

[2019-04-10 21:18] SenWu commented on #242
The syntax we were using in the SQL is only supported in 9.6 or later. While we don't use it anymore, it's not an issue now.

[2019-04-10 21:57] HiromuHota commented on #242
Thanks for clarification!

[2019-04-10 21:57] #242 closed

[2019-04-12 17:11] HiromuHota commented on #166
This issue can be reproduced by one of the example docs that is used for testing (ie `tests/data/html_simple/diseases.html` and `tests/data/pdf_simple/diseases.pdf`).

The following two asserts in a unit test (`tests.parser.test_parser.test_parse_document_diseases`) are actually wrong.
https://github.com/HazyResearch/fonduer/blob/a28bc45ccdf06166d2f781a61952717d05053147/tests/parser/test_parser.py

[2019-05-01 23:06] HiromuHota commented on #208
As another workaround, you could also do

[code]

[2019-05-02 18:57] HiromuHota opened #250 "`featurizer.apply(docs=train_docs)` fails on clearing"
**Describe the bug**
A clear and concise description of what the bug is.

Giving docs as`featurizer.apply(docs=train_docs)` instead of split as `featurizer.apply(split=0)` fails at `fonduer.features.featurizer.Featurizer#clear`

**To Reproduce**
Steps to reproduce the behavior:

1. Give docs as`featurizer.apply(docs=train_docs)` instead of split as `featurizer.apply(split=0)`

**Expected behavior*

[2019-05-03 16:22] HiromuHota commented on #250
A workaround is to use `clear=False` as `featurizer.apply(train_docs, clear=False)`.

[2019-05-07 23:01] HiromuHota commented on #66
Can you reopen this as ultimately I'd like Fonduer to be enforced by flake8-docstrings?
How about enforcing just for APIs for now? (I don't know how to narrow the check scope, though).

If we can't narrow the check scope to APIs, we can check docstrings for everything and ignore violations at this moment.
Preferably, the number of violations would better be monitored like Coveralls does for test c

[2019-05-13 21:50] HiromuHota opened #259 "Serializable Fonduer model"
**Is your feature request related to a problem? Please describe.**

I develop a Fonduer-based app locally on my laptop.
Once it's done, I'd like to package [the whole Fonduer pipeline](https://fonduer.readthedocs.io/en/latest/user/getting_started.html#the-fonduer-pipeline) (parsing, extraction, featurization, and classification) and deploy it to a remote place to serve.
However, a Fonduer-based ap

[2019-05-14 16:15] SenWu commented on #259
This is a great idea! Really excited to see/chat about how we can approach it to make Fonduer much easier to use.

[2019-05-14 17:14] HiromuHota opened #260 "Separate VisualLinker from Parser"
**Is your feature request related to a problem? Please describe.**

If you use HTML files as the primary source, you would print them as PDF files in a pre-preprocessing.
You would use `HTMLDocPreprocessor`, and `Parser` with `visual=True` and `pdf_path` args, which activates the visual linker that links a HTML file and the corresponding PDF file to get the visual information.

On the other hand,

[2019-05-14 21:56] HiromuHota opened #262 "Clarification on Document, Paragraph, Section, and Sentence"
This is not a bug.
I'd want a clarification on Document, Paragraph, Section, and Sentence.
It is clear that which element in HTML becomes which data models like Figure, Table, Caption. E.g., `<img>` and `<figure>` become Figure.
However, it is not obvious which element in HTML becomes Document, Paragraph, Section, and Sentence.

[2019-05-14 23:11] SenWu commented on #262
Right now, we use predefined tag to define those elements as follow:

*Document:* each file is one document
*Section:* `["html", "section"]` tag
*Figure:* `["img", "figure"]` tag
*Table:* `"table"` tag
*Paragraph:* every chunk of context in the node, such as content in `["text", "tail"]`
*Sentence:* the parse results from NLP parser (e.g., Spacy) define the sentence.

One idea to improve it is to

[2019-05-15 00:07] HiromuHota commented on #262
Thanks for your clarification.
https://lxml.de/tutorial.html#elements-contain-text helps me better understand the <i>Paragraph</i>.
In the following example,
```<html><body>Hello. Nice to meet you.<br/>Snorkel is great. Fonduer is even greater.</body></html>```
"Hello. Nice to meet you." is one paragraph, and "Snorkel is great. Fonduer is even greater." is another.

_Sentence_ is beyond what HTML

[2019-05-15 00:07] #262 closed

[2019-05-15 06:57] atulgupta9 opened #263 "Using candidates for prediction (Fonduer Prediction Pipeline)"
**Scenario:**

For my use case I have a set of financial documents.

The entire document set is divided into train,dev and test. The documents are parsed and the mentions and candidates are extracted with some rules.

The featurized training candidates are used to train a Fonduer Learning model and the model is used to predict on the test candidates, as per the normal fonduer pipeline as demonstra

[2019-05-16 04:54] HiromuHota opened #265 "Add Word (Token) class as another data model"
**Is your feature request related to a problem? Please describe.**

Almost all data models have a corresponding HTML element or properties.
For example, two properties `.text` and `.tail` turn into `Paragraph`.
`Sentence` is an exception here: there is no HTML element corresponding to `Sentence`, but `Sentence` has a corresponding data model.
Thus, I'd suggest to add `Word` class as another data m

[2019-05-16 16:46] HiromuHota commented on #263
I'd leave the 1st question to @SenWu or @lukehsiao .

For the 2nd question, technically yes. We can separate the training and test pipeline, but it is not straight-forward to do so as of today as I described in #259.

No, you don't have to parse the entire corpus again in the test phase, assuming the entire corpus includes train, dev, and test.
To do so, use the latest commit (not released yet) ve

[2019-05-17 05:52] atulgupta9 commented on #263
Thanks @HiromuHota . I will definitely try this out. I do have more queries on the prediction capabilities of fonduer. Please help me get some clarity on these.

1. How well does fonduer fair when we have documents that differ structurally?

2. Is the main role of the model to predict whether the candidate is a true candidate or not ?

3. How can we scale this to multiple candidates, does that mea

[2019-05-17 06:39] SenWu commented on #263
Hi @atulgupta9,

Thanks for your interests in our research!

Let me try to answer your questions, and hope it can help to understand more about Fonduer.

We currently provide two prediction model in Fonduer (Logistic regression, LSTM). You can tune those two models pretty easily and we provide a simple interface for that (see [here](https://github.com/HazyResearch/fonduer/blob/master/src/fonduer/l

[2019-05-17 07:14] atulgupta9 commented on #263
Thanks @SenWu for a speedy response. It will surely help me proceed forward.

Please can we keep this thread open. I will try to post some snippets to let you guys understand the use case we are trying to tackle with fonduer and get your inputs on our approach.

[2019-05-20 07:46] atulgupta9 commented on #263
### Use Case Discussion
We have sourced financial documents from the internet, these documents have no definite structure or a repeating pattern.
The basic need is to extract and build details about the organization (CEO, Board of Directors, Revenue Generated, Net Income/Loss etc..).
The required information may be spread across the document or may be confined to a few pages which we cannot pinpoi

[2019-05-21 16:29] HiromuHota commented on #259
I did some research how to serialize a dynamically created class (e.g., mention/candidate subclasses in Fonduer) and I found that cloudpickle or dill can serialize such a class.
However, the thing becomes more complicated when you try to serialize `LambdaFunctionMatcher`-based matchers. Those user-defined lambda functions have to be serialized along with matchers, which could be cumbersome.
Serial

[2019-05-21 17:57] HiromuHota opened #270 "RegexMatchSpan with sep="" concatenates words with sep="(space)""
**Describe the bug**
A clear and concise description of what the bug is.

A sentence "123 456 789" is parsed and gets three words "123", "456", and "789".
I'd like to match a number like

[code]

but `sep=""` has no effect.

**To Reproduce**
Steps to reproduce the behavior:
1. Have a sentence "123 456 789"
2. Parse it
3. Try to match it with `RegexMatchSpan(rgx=r"\d{9}", sep="")`

**Expected behav

[2019-05-23 05:20] atulgupta9 commented on #263
@SenWu @HiromuHota , Can we use the generated feature size as an estimate to predict how the model would  behave? If so, what is an appropriate range within which we can state that the predictions will be good?

[2019-05-24 22:19] SenWu commented on #263
Hi @atulgupta9,

Thanks for the description of your use case and I am sorry for the late response (a lot of dues this week).

Your problem is a very good example/use case for Fonduer. Let me try to To answer your question here:

No, this is no problem and actually a very common case in extracting knowledge from richly formatted data. One general question you might care is how to generate your cand

[2019-05-26 23:43] yzj19870824 opened #273 "How to extract multiple relationships?"
It works well when I extract binary relationships , such as （Target, Location) , (Target, Action) and (Target, Time). But how can I get multiple relationships from those binary relationships, for example (Target, Action, Location, Time)

Thanks in advance

[2019-05-26 23:49] yzj19870824 commented on #273
It's improper to concatenate 3 binary relationship directly . Because there maybe the same target name in a sentence .

[2019-05-28 22:27] SenWu commented on #273
Thanks for your interests in our research!

There are several options to do multi-nary relation.

One option is to define the multi-nary relation directly, e.g., `TargetActionLocationTime = candidate_subclass("TargetActionLocationTime", [Target, Action, Location, Time])`. One thing you might need to take care is how to extract features for that.

Another way is to do binary relation first and comb

[2019-05-30 12:43] atulgupta9 commented on #263
Hi @SenWu

Thanks for all the help.  Just want to have your quick thought on this.

I am using two sessions (Initialized using Fonduer Meta): one for training; other for predictions
All the processes in the training session happen really quick but while using the other session for prediction it takes a considerable amount of time even to process one file. Can this be resolved?

Should the previous

[2019-05-30 23:45] yzj19870824 commented on #273
Thank you , I'll give it a shot

[2019-06-12 07:01] yangliu0 opened #275 "from fonduer.learning.utils import confusion_matrix ImportError: cannot import name 'confusion_matrix'"
----> 5 from fonduer.learning.utils import confusion_matrix
      6 from fonduer.supervision.models import GoldLabel, GoldLabelKey
      7

ImportError: cannot import name 'confusion_matrix'

I use fonduer 0.6.2,but when I import this module, I encounter this problem

[2019-06-12 07:02] yangliu0 opened #276 "from fonduer.learning.utils import confusion_matrix ImportError: cannot import name 'confusion_matrix'"
----> 5 from fonduer.learning.utils import confusion_matrix
      6 from fonduer.supervision.models import GoldLabel, GoldLabelKey
      7

ImportError: cannot import name 'confusion_matrix'

I use fonduer 0.6.2,but when I imported this module, I encontered this problem.

[2019-06-12 16:37] lukehsiao commented on #276
Duplicate of #275.

[2019-06-12 16:37] #276 closed

[2019-06-12 22:04] lukehsiao commented on #275
See https://github.com/HazyResearch/fonduer-tutorials/issues/60

[2019-06-12 22:04] #275 closed

[2019-06-25 11:05] lauratolosi opened #278 "Removing several documents from the database by name?"
I want to test the Fonduer model on new files (pdfs), in a separate pipeline.
I need to ensure that the file is not already in the database (which results in an error and failure anyway).
The solution that I see is to delete the test documents and all related elements from the database before the testing - if they exist.

Can anyone please help with a procedure that deletes documents by name?

I h

[2019-06-25 22:13] #273 closed

[2019-06-25 22:18] SenWu commented on #263
Hi @atulgupta9,

Sorry for the late response! I think that might be a SQLAlchemy issue about inserting info into database. One potential solution is to reduce the parallelism.

Sen

[2019-06-28 22:23] lukehsiao commented on #278
Hi @lauratolosi, can you describe your use scenario a little more?

It sounds like you ran the fonduer pipeline with document set `A`. Then are wanted to test something with document set `B` (which are not documents, not overlapping with `A`)?

I'm not sure I understand the scenario in which you want to evaluate new documents, but will not need to go through the process of parsing and everything a

[2019-07-01 07:05] lauratolosi commented on #278
Hi @lukehsiao, here are the details:

I need to use Fonduer in a real-world application, where a Fonduer trained model is saved on some server and users can upload new documents to get information from them, based on model predictions.

When a new document is uploaded, my understanding is that it needs to be parsed, in order for Mentions and Candidates to be extracted and evaluated by the model.

[2019-07-03 23:24] SenWu commented on #278
Hi @lauratolosi,

There is an easy solution. We use document name as the primary key in Fonduer. There are two options you can do:
1. Every time you want to test on one document, you create a temporary document name as the primary key and parse the document.
2. You can the hash code for the document to see if you've already parsed this document. If yes, don't parse the new one and return the exist

[2019-07-17 17:14] HiromuHota commented on #12
Can https://spacy.io/api/goldparse#align be useful to align two list of words?

[2019-07-19 11:06] TorRient opened #284 "Issues about Parser"
When fonduer uses pdftotext, it has an error in the list top, list bottom, list right, list left, list page because the repeated words lead to wrong list top, list bottom, list right, list left, list page coordinates.

[2019-07-23 21:28] SenWu commented on #284
Hi @TorRient ,

Thanks for your question! Unfortunately, Fonduer doesn't officially support pdftotext right now. And we always welcome PRs to improve to Fonduer in anyways.

Sen

[2019-07-23 21:28] #284 closed

[2019-07-23 21:28] #278 closed

[2019-07-23 21:29] SenWu commented on #278
Close for now, please reopen if it's still a problem.

[2019-07-23 21:30] SenWu commented on #12
Good catch! We will take a look this function. Thanks!

[2019-07-26 00:53] HiromuHota commented on #260
Resolved by #287.

[2019-07-26 00:53] #260 closed

[2019-07-26 07:37] atulgupta9 commented on #263
Hi @SenWu @HiromuHota

Guys, I am trying to build api endpoints for automatically calling the fonduer built in functions.

I have two separate api endpoints : for mention/candidate extraction and for training.

These routes may be called any number of times under different projects. So you can assume that every time the api is called the mentions/candidates and the db we are referring to would be

[2019-07-30 17:16] HiromuHota commented on #263
As I mentioned in https://github.com/HazyResearch/fonduer/issues/259#issuecomment-494463893, it is hard to pickle a dynamically created class (e.g., mention/candidate subclasses in Fonduer).
So I ended up carrying around the Python files, where mention/candidate subclasses are defined, rather than pickled files.
Hope it helps.

[2019-07-30 22:52] HiromuHota opened #290 "Type hints"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I'm always frustrated when I have to look at the source codes to check the type of arguments/return.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

1. Type hints (PEP484) are written to s

[2019-08-04 23:37] yzj19870824 opened #292 "Something wrong occur when I load model"
training model code as follow :
[code]
loading model code as follow:
[code]
error occurs as follow:
[code]

That's impossible , Should I have to make the same Featurization vector length all the time whether in train set or product set?

 - Fonduer Version: [e.g. 0.6.0]

[2019-08-04 23:38] yzj19870824 commented on #292
actually Fonduer Version is  0.5.0

[2019-08-05 22:53] yzj19870824 commented on #292
Editing problem
error occurs as follow:
RuntimeError: size mismatch, m1:[256×6230],m2:[6430×2]  at /pytorch/aten/src/TH/generic/THTensorMath.cpp:2070
6430 is the vector length of trainCandsFeaturizer(for training);
6230 is the vector length of productCandsFeaturizer(for producting)

[2019-08-06 23:30] yzj19870824 commented on #292
Problem solved .
When you train model ,you can write like this :
featurizer = Featurizer(session, [PresidentnamePlaceofbirth])
featurizer.apply(split=0, train=True, parallelism=PARALLEL)

When you use model, you can write like this:
featurizer = Featurizer(session, [PresidentnamePlaceofbirth])
featurizer.apply(split=0, train=False, parallelism=PARALLEL)

[2019-08-06 23:30] #292 closed

[2019-08-08 20:55] SenWu commented on #290
This is definitely a good idea!!! Let's do this!

[2019-08-09 05:57] SenWu commented on #290
Any suggestions?

[2019-08-09 17:12] HiromuHota commented on #290
[PyAnnotate](https://github.com/dropbox/pyannotate) looks good. This is a tool that auto-generates PEP-484 annotations.
This has been developed by the same team, at Dropbox, who has originally developed mypy.
Let me try PyAnnotate for a while.

By the way, I don't know exactly what you mean by the following, but I don't think we need a folder 'type' for type hinting. Let me know if I'm mistaken.

[2019-08-12 23:32] HiromuHota commented on #290
https://github.com/Instagram/MonkeyType could be another option.

[2019-08-13 00:55] HiromuHota commented on #290
So basically, both MonkeyType and PyAnnotate do the same thing: 1. collect types at runtime and 2. insert collected types to the source code.
I ran `pytest tests` with each but none of the two traced the calls of Fonduer methods because `pytest tests` ran against the Fonduer package installed in site-packages, which is ignored by MonkeyType and PyAnnotate by default.
Fortunately, MonkeyType takes

[2019-08-13 06:08] SenWu commented on #290
Great! I think this is definitely a great tool. If I understand it correctly, we can use this tool to auto insert the type and manually correct the wrong ones and add dynamic typing checking using travis test. Does this sound correct?

[2019-08-13 17:39] HiromuHota commented on #290
Yes, you understood it correctly.
It doesn't make any mistake but the coverage is not necessarily perfect depending on the code that runs during the type collection.
The following is one snippet example:
[code]

`doc_loader` should be typed `DocPreprocessor` instead of `HTMLDocPreprocessor`.
`HTMLDocPreprocessor` has been chosen because the (test) code only uses it.
So yes, we have to manually cor

[2019-08-13 18:28] SenWu commented on #290
Super! Let's do it. This will make Fonduer much easier to use.

[2019-08-15 08:00] trungtv commented on #259
Hello,
I am also interested in serving Fonduer models in concurrent environments. If there is an effort for that, I would like to join in.
Thanks for your great work.

[2019-08-15 21:11] HiromuHota commented on #270
This "Special behavior" dates back to snorkel-team/snorkel@7b579278f735665712eb15a814969228a643ed30.

[2019-08-15 23:21] HiromuHota commented on #259
I've created a custom MLflow model to package a (trained) Fonduer model.
In addition to packaging, this custom model can be used to serve the packaged model.

Currently this custom MLflow model includes some hard-coded part, hence needs cleanup; but I'd love to contribute it to the community if it is useful for other people.
@SenWu @trungtv, let us know your thoughts.

[2019-08-15 23:38] SenWu commented on #259
@HiromuHota Awesome! We definitely love to have it since more and more people want to use it! Happy to chat and contribute as well! We should have a tutorial for that as well. 👍

[2019-08-16 07:53] trungtv commented on #259
@HiromuHota great! I am happy to contribute on this milestone for Fonduer.

[2019-09-02 12:22] atulgupta9 commented on #263
Hi @HiromuHota @SenWu

I am getting this error, when I try to redefine an existing relation.

`ERROR/MainProcess] Candidate subclass candidate_Alphatest_relation_12 already exists in memory with incompatible specification: ([<class 'fonduer.candidates.models.mention.mention_Alphatest15'>, <class 'fonduer.candidates.models.mention.mention_Alphatest16'>], 'candidate__alphatest_relation_12', 2, [True

[2019-09-03 18:47] HiromuHota commented on #263
Currently, candidate subclasses as well as mention subclasses can be defined only once.
If you want to redefine them, you have to restart Python and define them.

Having said, the ability to redefine candidate/mention subclasses might be useful, especially during development.
@SenWu any comment?

[2019-09-12 20:48] HiromuHota opened #303 "Travis fails on Mac & Python3.6"
**Describe the bug**
A clear and concise description of what the bug is.

After conda-forge channel is added, the default version of `certifi` becomes very old.
As a result, a travis job fails, saying

ERROR: Cannot uninstall 'certifi'. It is a distutils installed project and thus we cannot accurately determine which files belong to it which would lead to only a partial uninstall.

**To Reproduce*

[2019-09-12 23:47] #303 closed, assigned to nobody

[2019-09-17 17:08] HiromuHota opened #306 "Inappropriate dependency on bs4 (instead of beautifulsoup4)"
**Describe the bug**

This is not a bug, but bs4 is a dummy package and not supposed to be used on purpose.

https://pypi.org/project/bs4/ says,

**Expected behavior**
Dependency on beautifulsoup4 with an appropriate range of versions.
Currently any version of beautifulsoup4 satisfies the dependency requirement.

**Error Logs/Screenshots**

[code]

[2019-09-17 18:39] #306 closed

[2019-09-20 17:17] HiromuHota opened #310 "Make -1 as abstain to be consistent with snorkel v0.9.0"
**Describe the bug**

Currently, Fonduer uses 0 for ABSTAIN as Snorkel of 0.7.0 (and Metal) does so.
However, Snorkel as of v0.9.0 uses -1 for ABSTAIN.
To leverage the recent advances at Snorkel v0.9.0, I think Fonduer should also use -1 for ABSTAIN to get prepared to future upgrade to Snorkel v0.9.0 (or higher).

**Expected behavior**

Fonduer uses -1 for ABSTAIN to be consistent with snorkel v0.

[2019-09-20 21:27] HiromuHota opened #311 "So many "e2e/test_e2e.py::test_e2e" log messages during pytest"
**Describe the bug**

This is not necessarily a bug, but so many "e2e/test_e2e.py::test_e2e" log messages started to appear during pytest.

**To Reproduce**

This starts at 1aa28bbd7b1d0956a4c18e85eaad6a57138ba437 (use torch of 1.2.0 for Travis and Docker).

**Expected behavior**

Only informative log messages should appear.

**Error Logs/Screenshots**
If applicable, add error logs or screenshots

[2019-09-20 21:39] HiromuHota commented on #311
These log messages appear right after
[code]

Thus basically these are deprecation warnings.

[2019-09-24 21:09] HiromuHota commented on #311
This issue might be related: https://github.com/pytorch/pytorch/issues/24918

[2019-09-25 08:06] lauratolosi opened #314 "HTML candidate visualizer"
Evaluating Fonduer results is sometimes difficult, in absence of expert annotations. Visually displaying the candidates that are predicted as true is of great help, one can go through the document and quickly judge correct or mistaken instances.

The `visualizer` module is meant to assist with that, but I have encountered many problems with ImageMagick, mostly errors of type `CorruptImageError: un

[2019-09-25 23:37] yzj19870824 opened #315 "Zombie process occurs when I apply multimodal featurization or label functions"
**Describe the bug**
Zombie process occurs when I apply multimodal featurization or label functions(I set the parallelism=20, which is less than the number of CPU core of my server).
When I use command "ps -ef|grep python" , I can find that the last process shows "python [defunct]" .
And when I use command "top -Hp [fonduer-main-process-id]" , only two threads  are listed, both states are "S" (whi

[2019-09-26 23:13] HiromuHota opened #316 "No database dependency during inference/serving"
**Is your feature request related to a problem? Please describe.**

I think a Fonduer-based app lifecycle has three phases: development, training, and serving.
During development, you may have many iterations of re-definition of mention/candidate subclasses, labeling functions, which involve re-parsing, re-extraction, re-labeling, etc.
I understand that it is important to persist intermediate resu

[2019-09-27 16:31] HiromuHota commented on #310
The actual standardization at Snorkel happened at https://github.com/snorkel-team/snorkel/pull/1309.

[2019-09-27 16:57] HiromuHota opened #317 "Update pandas to be <0.25.0,>=0.24.0 to be compatible with Snorkel v0.9.0"
**Is your feature request related to a problem? Please describe.**

I'm migrating Fonduer from snorkel-metal (v0.4.0) to snorkel (v0.9.0).
snorkel 0.9.0 (and 0.9.1) has requirement pandas<0.25.0,>=0.24.0, while fonduer 0.7.1 has requirement pandas<0.24.0,>=0.23.4

**Describe the solution you'd like**

Update pandas to <0.25.0,>=0.24.0

[2019-09-27 17:03] HiromuHota commented on #317
Fonduer uses Pandas only at https://github.com/HazyResearch/fonduer/blob/5620b0f23107f8f378b6ae41f429e26dd4ed51d9/src/fonduer/parser/visual_linker.py#L359-L361
, in which pandas.dataframe is used just for logging visual links to the logger.

[2019-09-27 17:05] HiromuHota commented on #317
Also this method `_display_links` is currently not used.
Updating pandas to 0.24 should not break Fonduer.

[2019-09-27 18:31] #317 closed

[2019-09-27 21:32] HiromuHota commented on #315
I'd suggest to try the latest release of Fonduer (v0.7.0) and Ubuntu (18.04).
Fonduer is not well tested with CentOS.

Also set parallelism much lower.
20 parallel would choke the backend postgres server.

[2019-09-28 00:40] #311 closed

[2019-09-30 19:12] SenWu commented on #314
Hi @lauratolosi, thanks for question!
Unfortunately, we don't have HTML visualizer right now. But I do think it's great to have one.

For your last question, Fonduer uses a unified data model to do knowledge base construction and the transform you mentioned is to build that data model.

Sen

[2019-09-30 19:16] SenWu commented on #263
Unfortunately, we don't support runtime modify the candidate subclasses. But the current system supports create new candidate subclasses.

[2019-09-30 19:16] #263 closed

[2019-09-30 19:23] SenWu commented on #219
This PR #283 gave the API to support this.

[2019-10-01 07:53] lauratolosi commented on #314
Hi, thanks!

I wrote a viewer myself. It was very hard because the data model does not calculate the absolute offset of a sentence in the html file, even though there seems to be an attribute for that : `https://fonduer.readthedocs.io/en/latest/user/parser.html#fonduer.parser.models.Sentence.abs_char_offsets` . But they seem to be `0` always. I checked the code and their values are not updated.

S

[2019-10-02 15:26] HiromuHota opened #323 "FATAL: sorry, too many clients already when PARALLEL is large"
**Describe the bug**

When PARALLEL is large (like 32), "FATAL:  sorry, too many clients already" happens.

**To Reproduce**
Steps to reproduce the behavior:
1. Set PARALLEL=32
2. Set max_connections of postgresql to be 100
3. Run `tests/candidates/test_candidates.py`

or checkout (HiromuHota/fonduer@fb818d870dc828d74aa9a8d58abc37f723bceaab) and run.

**Expected behavior**

No such error happen wh

[2019-10-02 15:48] HiromuHota commented on #323
The root cause is that
1. An `Engine` and a connection are created when starting a child process within the parent process (note that `UDF.__init__()` is actually executed within the parent process).
https://github.com/HazyResearch/fonduer/blob/b6bd723cedeae747f90fbe732a350ad6636f1af6/src/fonduer/utils/udf.py#L201
2. Even after the child process terminates, this connection (created in the parent p

[2019-10-03 04:50] #323 closed

[2019-10-08 02:19] yzj19870824 commented on #263
There’s no function “upsert_keys” in version 0.5.0 . May I ask what’s the replaced function name

[2019-10-08 21:41] HiromuHota commented on #263
Featurizer#upsert_keys has been added at 0.7.0.
Labeler#upsert_keys has also been added but not released yet.
See https://fonduer.readthedocs.io/en/latest/dev/changelog.html

[2019-10-09 23:14] HiromuHota opened #326 "Inconsistent stable_id between Cell and CellMention"
**Describe the bug**

The definition of `stable_id` is inconsistent between `Cell` and `CellMention`.

The `stable_id` for Cell is defined as  https://github.com/HazyResearch/fonduer/blob/2297f681c2cddf95142af46fddcb91809b339e85/src/fonduer/parser/parser.py#L385-L395
, while the one for `CellMention` is defined differently as

https://github.com/HazyResearch/fonduer/blob/2297f681c2cddf95142af46fdd

[2019-10-11 03:40] yzj19870824 opened #328 "deadlock detected"
I'm using Fonduer to construct knowledge base from Chinese corpus,

Spacy doesn't support Chinese, So I train a Chinese model by myself , instead of downloading model from Spacy. And my Chinses model cannot split sentences, so the files in the directory which is assigned in TextDocProcess are already splitted by my script.

But when I  run featurizer or labeler applys, it's too slow to bear,
Somet

[2019-10-11 04:38] HiromuHota commented on #326
There is an inconsistency between `Document` and `DocumentMention` too.

The stable_id for `Document` is defined as
https://github.com/HazyResearch/fonduer/blob/2297f681c2cddf95142af46fddcb91809b339e85/src/fonduer/parser/preprocessors/doc_preprocessor.py#L56-L57

, while the one for `DocumentMention` is defined differently as
https://github.com/HazyResearch/fonduer/blob/2297f681c2cddf95142af46fddc

[2019-10-11 08:20] #326 closed

[2019-10-12 05:49] HiromuHota commented on #314
@lauratolosi It'd be great if you could report another issue for the always-0-abs_char_offsets.

[2019-10-14 07:52] lauratolosi opened #332 "abs_char_offsets is not absolute but relative"
I understand form the documentation that `abs_char_offsets` (https://fonduer.readthedocs.io/en/latest/user/parser.html#fonduer.parser.models.Sentence.abs_char_offsets) should return the absolute character offset from the beginning of the HTML document of the sentence. However, looking at the code and testing on my data, I get that the values are always 0 and never updated during parsing.

[2019-10-15 01:07] yzj19870824 commented on #328
I set parallelism one when I apply featurizer or labeler.  And I can bear that speed.
But another problem happens:
The speed of training discriminative model, such as LR, or LSTM, is too slow.
the only reason is DataLoader which fetches the next step data costs almost 7s .
And when I wanna set num_workers 4 or other number, error occurs like this:

THCudaCheck FAIL THCCachingAllocator.cpp line=507

[2019-10-15 16:09] HiromuHota commented on #332
I couldn't reproduce your issue with v0.7.0 of Fonduer.
What version of Fonduer are you using?

[2019-10-15 17:08] #250 closed

[2019-10-15 17:31] HiromuHota commented on #332
OK, now I am able to reproduce it.
I'm using the latest commit (3d5392ccfb092e23ac861bc06815c56374d63b55), but is reproducible on v0.7.0 too.
What I can see is
[code]
`abs_char_offsets` looks **relative** (to the beginning of the sentence) instead of absolute from the beginning of the document.

In @lauratolosi case, if `abs_char_offsets` is always 0, then each Sentence has only 1 word.

I'd chang

[2019-10-15 18:03] HiromuHota commented on #332
I couldn't trace back when this issue happened. At least this issue existed on v0.5.0, v0.4.0, and v0.3.0. I stopped tracing back at v0.2.2 as I had some compilation error from dependencies.

[2019-10-15 23:11] HiromuHota commented on #332
I've almost finished a patch. If tests pass, I submit it.

[2019-10-15 23:24] HiromuHota opened #333 "Inner HTML elements are processed after the tail text"
**Describe the bug**

In tests/data/html_simple/md.html, `<em>italics and later <strong>bold</strong></em>. Even` is processed in the following order:

1. `italics and later `
2. `. Even`
3. `bold`

This is illustrated in #12 too.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `tests/parser/test_parser.py::test_parse_md_details` and set a breakpoint

**Expected behavior**

The said sent

[2019-10-16 04:06] #332 closed

[2019-10-17 17:26] HiromuHota commented on #328
@SenWu @lukehsiao assign this deadlock issue to me. I have an idea and am working on it.

[2019-10-17 17:41] HiromuHota commented on #328
@yzj19870824 THCCachingAllocator.cpp error is different from the dead lock. I'd suggest to create another issue.

[2019-10-18 04:01] #328 closed

[2019-10-19 00:10] HiromuHota opened #336 "Label not updated even when LF updated"
**Describe the bug**

Label not updated even when LF updated.

**To Reproduce**
Steps to reproduce the behavior:
1. Define LF like follows:
[code]

2. Run `labeler.apply`
3. Update the LF like follows:
[code]
4. Run `labeler.apply` with `clear=False`

**Expected behavior**

Before update, labels should be like

[code]

After update, labels should be like

[code]

But actually,

[code]

**Error Log

[2019-10-19 00:34] HiromuHota commented on #336
This issue does not happen when `clear=True`.
If we always set `clear=True` or do not specify it (`clear=True` by default), we don't need this argument. Do we need this?

[2019-10-21 16:48] HiromuHota commented on #315
I think #324 and #335 has resolved this issue, or at least mitigated it.

[2019-10-21 17:18] HiromuHota commented on #336
I figured it out. At least `Labeler.update` uses `clear=False`.

[2019-10-24 14:13] lauratolosi commented on #314
I think this issue could be closed, because with the absolute character offsets fixed (abs_char_offsets), one can easily add such html tags: `background-color:yellow` before the mention.
Thank you for looking into this!

[2019-10-24 17:33] HiromuHota commented on #314
@lauratolosi I'd suggest to use the `xpath` attribute, which is currently available only for Sentence, to locate the corresponding html element in the original html file.

[2019-10-24 18:02] HiromuHota opened #348 "travis_wait let a job silently fail"
**Describe the bug**

When a job exceeded the maximum time limit for jobs (50 minutes), the job silently fails.

The following log messages can be found at https://travis-ci.org/HazyResearch/fonduer/jobs/602077139

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Let tests take longer than 50 minutes

**Expected behavior**

I'd like to know which test is taking a long time.

[2019-10-25 18:54] #314 closed

[2019-11-03 14:54] #336 closed

[2019-11-06 23:26] #290 closed

[2019-11-07 02:56] #310 closed

[2019-11-07 17:02] HiromuHota opened #358 "Use of deprecated use_batch_mode flag of psycopg2"
**Describe the bug**

The psycopg2 use_batch_mode flag is superseded by executemany_mode='batch' in SQLAlchemy 1.3.7.
https://docs.sqlalchemy.org/en/13/changelog/changelog_13.html#change-1.3.7
https://github.com/sqlalchemy/sqlalchemy/pull/4764

**To Reproduce**
Steps to reproduce the behavior:
1. Create a session using `Meta.init(conn_string).Session()`

**Expected behavior**

Use the superseded f

[2019-11-07 22:46] #358 closed

[2019-11-08 00:08] HiromuHota opened #360 "Use of deprecated tqdm.tqdm_notebook"
**Describe the bug**

`tqdm.tqdm_notebook` is deprecated in v4.36.0.

https://github.com/tqdm/tqdm/releases/tag/v4.36.0
https://github.com/tqdm/tqdm/pull/198
https://github.com/tqdm/tqdm/issues/790

**To Reproduce**
Steps to reproduce the behavior:
1. Use tqdm>=4.36.0
2. Execute like the following on Jupyter Notebook
[code]

**Expected behavior**

Use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_not

[2019-11-08 04:57] #360 closed

[2019-11-08 05:36] HiromuHota opened #362 "apply method never ends even when all the child processes fail"
**Describe the bug**

The .apply method never ends even when all the child processes fail.
This is because `out_queue.get()` never timeout unless a parameter `timeout` is specified.
https://github.com/HazyResearch/fonduer/blob/bfea88adf474d0cd77f4fd11b7227301b6f3f529/src/fonduer/utils/udf.py#L132-L140

This happens when all the child processes fail for whatever reason and do not return any result

[2019-11-08 19:12] HiromuHota commented on #348
https://github.com/crazy-max/travis-wait-enhanced may help.

[2019-11-08 23:09] #362 closed

[2019-11-09 00:07] HiromuHota commented on #137
The apply/reducer architecture, which has been used by the snorkel-extraction project, may be used here too.

[2019-11-09 00:20] #348 closed

[2019-11-09 00:25] HiromuHota commented on #137
The Snorkel team has discussed multithreaded reduce at https://github.com/snorkel-team/snorkel/issues/562.

[2019-11-09 00:37] SenWu commented on #137
This is a great question! Is there a way to use the other package to do this instead of building our own code?

[2019-11-09 01:00] HiromuHota commented on #137
We could use (Py)Spark, Dask, etc. for distributed computing but the bottleneck would be the data persistence layer, i.e., PostgreSQL.
In other words, as long as we use PostgreSQL, it'll be the bottleneck and we end up doing ad-hoc performance optimizations here and there.

One idea is to use different appliers for different storage backends: one for in-memory, another for PostgreSQL, one another

[2019-11-09 01:20] SenWu commented on #137
That's one idea! I think it would be better to modularize so we can 1) have better support for distributed computing from other parties (e.g., PySpark, Dask ); 2) easy to extend to other data layers.

[2019-11-18 23:08] SenWu opened #366 "Readthedocs issue with Emmental"
**Describe the bug**
Fix the readthedocs issue with Emmental

**To Reproduce**
There are some `sphinx.ext.autodoc.importer._MockObject` in the current readthedoc.

**Expected behavior**
Have the current inheritance information.

[2019-12-03 18:56] HiromuHota commented on #316
One step further towards this goal, I'd like to make all the child class of `UDF` like `ParserUDF` unaware of the database. Meanwhile, the child class of `UDFRunner` like `Parser` will be intact to maintain the public APIs.

Currently, the `apply` method of each child class of `UDF` returns objects that are to be saved to the database:
`ParserUDF.apply(self, doc: Document, ...) -> Iterator[Sentenc

[2019-12-03 19:09] lukehsiao commented on #316
At a high level, this sounds like an excellent idea to me. I wonder if/how this might affect performance as well. Perhaps we can get less lock contention if the different UDFs are not using the session object directly.

[2019-12-03 19:39] HiromuHota commented on #316
Good point.
When we take this approach, the database will be accessed only by a single process, which runs `UDFRunner.apply`. So yes, much less or even no lock contention at the database.
The downside is that there will be an overhead in object transfer from each UDF to the UDFRunner, which I hope is less expensive than the database lock.

Also we have to be careful not to run out of memory when a

[2019-12-08 13:10] AshutoshUpadhya opened #370 "Can someone share the advertisement dataset used for Experiment in the paper"
Can someone please share the advvertisment dataset mentioned in the paper. I am exploring  fonduer for one usecase and would like to go through that dataset.

Thanks in advance

[2019-12-13 23:43] SenWu commented on #370
Hi @AshutoshUpadhya,

Thanks for your interests in our research!
Unfortunately, the Advertisements dataset is not public available. But I would suggest you to take a look at our [wiki tutorial](https://github.com/HazyResearch/fonduer-tutorials/tree/master/wiki) which has similar data format (HTML) and problems as we discussed in Advertisements dataset.

Hope this can help you!
Sen

[2019-12-15 06:16] #370 closed

[2019-12-16 21:56] HiromuHota opened #371 "Not compatible with PostgreSQL 12"
**Describe the bug**

A Segmentation fault error occurred during tests/candidates/test_candidates.py::test_cand_gen_cascading_delete on Travis.
Strangely, there was no problem 10 days ago (12/6) but now the test fails.

Failed on 12/16: https://travis-ci.com/HiromuHota/fonduer/jobs/267827232
Passed on 12/6: https://travis-ci.org/HazyResearch/fonduer/jobs/621864178

**To Reproduce**

Run the latest

[2019-12-16 21:58] HiromuHota commented on #371
One difference between succeeded job and failed one is the PostgreSQL version.
Failed: 12.1
succeeded: 11.5

[2019-12-16 22:28] HiromuHota commented on #371
I confirmed that the following three tests fail on PostgreSQL 12 on both Linux and OSX: test_e2e, test_incremental, test_binary_relation_feature_extraction.
https://travis-ci.com/HiromuHota/fonduer/builds/141298272

[2020-01-09 18:36] AshutoshUpadhya opened #375 ".docx word document parsing giving error"
Firstly, I am new to fonduer and was trying to parse a word document using wiki president tutorial. I changed the parser to Doc_preprocessor  but it gave error "not implemented" . Probably because  the document object has nothing though I have placed the document at mentioned path. Do I need to provide HTML  for word docs as well?

code:

from fonduer.parser.preprocessors import DocPreprocessor
fr

[2020-01-09 18:46] HiromuHota commented on #375
Currently, .docx word document is not supported. "Doc" in the name of `DocPreprocessor` has nothing to do with MS word doc files. "Doc" just means documents in general.
Fonduer only supports csv, tsv, text, html files as of today.

Technically speaking, `DocPreprocessor` is not meant to be used directly. It should be inherited and its methods should be implemented by the child class. For example,

[2020-01-10 05:08] AshutoshUpadhya commented on #375
Thanks  @HiromuHota for your quick response.
so what text documents mean here, I have text documents, I mean word documents and notepad files. I tried .txt file with textDocPreprocessor  but its giving 'module' not found error. Can you pls explain.
This will help in getting where exactly I can use fonduer.

[2020-01-11 09:19] AshutoshUpadhya commented on #375
Anyone any update pls?

[2020-01-11 19:23] lukehsiao commented on #375
We have no plans to support DOCX.

For using text, try the [TextDocPreprocessor](https://fonduer.readthedocs.io/en/latest/user/parser.html#preprocessors). In general, please make sure to include an error log and follow the issue template for us to have enough information to help you.

If you have further issues, please open a new ticket about that issues specifically. Closing this issue for DOCX n

[2020-01-11 19:23] #375 closed

[2020-02-02 00:48] lukehsiao commented on #366
This was just merged: https://github.com/readthedocs/sphinx-autoapi/issues/183.

So, we may be able to do some workaround now.

[2020-02-14 20:53] #316 closed

[2020-03-24 18:23] SenWu opened #380 "Boost the code coverage to >95%"
Improve the unit tests and boost the code coverage to >95%

[2020-03-31 18:04] HiromuHota opened #384 "Upgrade spaCy to v2.2.4 or later for easier installation of Japanese backend"
**Is your feature request related to a problem? Please describe.**

Until v2.2.3, spaCy has used python-mecab3 for Japanese backend, which is cumbersome to install.
As of v2.2.4, spaCy replaced python-mecab3 with fugashi for Japanese, which is easier to install.
https://github.com/explosion/spaCy/releases/tag/v2.2.4

**Describe the solution you'd like**

Change Fonduer's dependency on spaCy like `

[2020-04-10 00:37] HiromuHota opened #390 "scikit-learn 0.22.2.post1 and tensorboard 2.2.0 that are incompatible with snorkel 0.9.5 are installed"
**Describe the bug**

The following error messages occur when installing fonduer==0.8.0
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `pip install fonduer==0.8.0` when pip==19.X (I tested on 19.2.3 and 19.3)

**Expected behavior**

No error is expected and compatible versions of scikit-learn and tensorboard are installed.

**Error Logs/Screenshots**

[code]

**Environment (please co

[2020-04-10 00:38] HiromuHota commented on #390
A workaround is to upgrade pip to >=20.0.

[2020-04-10 00:49] HiromuHota opened #391 "GitHub Actions fail on forked repository"
**Describe the bug**

GitHub Actions fail on a forked repository because "Upload to coveralls.io" step fails.

**To Reproduce**
Steps to reproduce the behavior:
1. Fork HazyResearch/fonduer
2. Push any commit to your forked repository
3. GitHub Actions fails

**Expected behavior**

"Upload to coveralls.io" runs only on HazyResearch/fonduer

**Error Logs/Screenshots**

![image](https://user-images.

[2020-04-10 00:55] HiromuHota commented on #390
Even when with pip==20.0.2, incompatible versions are installed.
Now I'm not sure how to reproduce it.

[2020-04-10 10:22] SenWu commented on #391
Maybe this is useful: https://community.codecov.io/t/whitelist-github-action-servers-to-upload-without-a-token/491/19

[2020-04-10 17:00] HiromuHota commented on #391
I think the following is more suitable.
https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idstepsif

Like below.
[code]

I'll make a PR and submit.

[2020-04-11 01:21] #391 closed

[2020-04-11 03:07] HiromuHota commented on #390
An obvious workaround is to install "tensorboard<2.0.0,>=1.14.0" "scikit-learn<0.22.0,>=0.20.2" before installing fonduer.

[2020-04-11 04:25] HiromuHota commented on #371
Closing for now as we are not seeing this issue.
Please reopen if it occurs again.

[2020-04-11 04:25] #371 closed

[2020-04-16 18:52] HiromuHota opened #400 "When decorated, labeling functions do not work with Fonduer"
**Describe the bug**

Say I have a set of labeling functions like below:

[code]

I wanted to use `snorkel.labeling.LFAnalysis` as described in https://www.snorkel.org/use-cases/01-spam-tutorial#c-evaluate-performance-on-training-set.
To do this, I had to decorate labeling functions as below:

[code]

When labeling functions get decorated as `snorkel.labeling.LabelingFunction`, `fonduer.supervisio

[2020-04-17 00:33] HiromuHota commented on #366
I've just acknowledged this issue myself.
This issue https://github.com/snorkel-team/snorkel/pull/1274 may be relevant?

[2020-04-18 00:04] HiromuHota opened #402 "[Doc] Parameters of Labeler.apply is out-dated"
**Describe the bug**

The Documentation of `Labeler.apply` is out-dated.
The `table` parameter is missing docstring.
https://fonduer.readthedocs.io/en/latest/user/supervision.html#fonduer.supervision.Labeler.apply

[2020-04-18 17:40] #400 closed

[2020-04-20 16:53] HiromuHota opened #403 "Raise an error/warning when labeler.get_gold_labels returns a label matrix with all values being -1 (abstain)"
**Is your feature request related to a problem? Please describe.**

When you try to get a label matrix of gold labels like below, but you forget to load gold labels beforehand,

[code]

You will get a label matrix with all values being -1 (abstain).

[code]

Without knowing that it is wrong, you will be receiving 0 Emp. Acc. like below.

[code]

![image](https://user-images.githubusercontent.com/2

[2020-04-20 22:35] #402 closed

[2020-04-24 23:54] HiromuHota commented on #259
I think fonduer-mlflow became in good shape and ready for to be submitted as a PR against fonduer.
Let me create a PR and submit it.

[2020-04-28 18:18] lukehsiao commented on #403
@HiromuHota When I try this locally before loading gold labels, I don't get all `-1`, I just get an empty ndarray:

[code]

Am I missing something?

[2020-04-28 18:21] HiromuHota commented on #403
When I got this situation, I loaded gold labels only for test data.
If you try to get gold labels for training data, you'd get a label matrix of all -1.

[2020-04-29 00:53] #403 closed

[2020-05-06 21:59] lukehsiao opened #412 "Non-deterministic behavior in featurization"
**Describe the bug**
When working with large (~7k docs) corpus of hardware datasheets, extracting multiple relations, we expect that the features for each candidate would be deterministic between each run. Even more so if we have `parallelism=1` set in the Featurizer. However, we find that there can be small (e.g., < 5) differences between feature tables, resulting in slightly different sparse mat

[2020-05-11 16:01] kaikun213 opened #413 "get_neighbor_cell_ngrams with "absolute" parameter"
**Is your feature request related to a problem? Please describe.**
It is hard to access a heading of a sub-table in a HTML where all sub-tables are in one `<table>` tag via a labeling function. `get_col_ngrams` can return the correct ngrams but without directions or distance. `get_neighbor_cell_ngrams` can return the direction, but does not consider columns which span multiple such as a heading to

[2020-05-14 23:53] HiromuHota opened #414 "glob pattern is not documented as an acceptable path in DocPreprocessor"
https://fonduer.readthedocs.io/en/latest/user/parser.html#preprocessors describes `path` to be filesystem path to file or directory to parse.
Actually, a glob pattern is acceptable path, but not documented.

[2020-05-15 00:12] HiromuHota opened #415 "HTML files with the same base name in different sub-directories"
**Describe the bug**

Two html files that are located as below are not parsed as expected.
[code]

You will get an error like below:

**To Reproduce**
Steps to reproduce the behavior:
1. Place two html files in path like aboe
2. Construct a preprocessor like  `preprocessor = HTMLDocPreprocessor("html/*/*")`

[code]

3. Execute `parser.apply(preprocessor)`

**Expected behavior**

The two html files

[2020-05-16 18:26] HiromuHota opened #417 "flake8 >= 3.8.0 causes "F541 f-string is missing placeholders" error during style checking."
**Describe the bug**

flake8==3.8.1 (and 3.8.0) has been released on 5/11.
https://pypi.org/project/flake8/#history

An issue has been reported (https://gitlab.com/pycqa/flake8/-/issues/648), but this seems to be the expected behavior of flake8 >= 3.8.0.

https://gitlab.com/pycqa/flake8/-/issues/648

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade flake8 to 3.8.X
2. Execute `make chec

[2020-05-16 20:07] #417 closed

[2020-05-18 18:23] #414 closed

[2020-05-18 18:23] #415 closed

[2020-05-18 23:38] SenWu commented on #413
This looks like a very useful feature.
Can you make a PR for this so other users can benefit from this functionality?

Thanks for pointing out this issue.
-Sen

[2020-05-19 18:36] kaikun213 commented on #413
In order to not break the existing logic for directions, I decided against the `absolute` argument and instead fixed it in the min_range_diff.

[2020-05-20 10:03] kaikun213 commented on #147
I am having a similar issue. In my case the spans can not just be in the cells of a table but also in the URL of an image or the document name. I wrote a quick and dirty custom Mentionspace and MentionRegex:

[code]

[code]

It does extract the DocumentMentions and FigureMentions next to the SpanMentions.
However, I ran into two problems:

1) It will mention the whole document/figure and I can not

[2020-05-20 18:22] HiromuHota opened #422 "Remove redundant ":type" and ":rtype" information from the docstring"
**Is your feature request related to a problem? Please describe.**

See https://github.com/HazyResearch/fonduer/pull/421#issuecomment-631587136.

**Describe the solution you'd like**

Remove redundant ":type" and ":rtype" information from the docstring

**Describe alternatives you've considered**

N/A.

**Additional context**

Now Fonduer has type hints in the method definition, which makes ":type

[2020-05-20 21:21] HiromuHota commented on #422
I just realized that not all methods have type hints as I expected.
For example, `RegexMatchSpan` have type hints only at docstring.
[code]

[2020-05-20 21:44] HiromuHota opened #423 "search and full_match args in RegexMatchSpan are dependent and confusing"
**Is your feature request related to a problem? Please describe.**

The method signature is currently `RegexMatchSpan(rgx: str, ignore_case: bool, search: bool=False, full_match: bool=True, longest_match_only: bool)`.

`search=False` is equivalent to wrap the provided `rgx` with `^(<rgx>)` to match at the beginning of a span.
On the other hand, `full_match=True` wraps the provided `rgx` with `(<rg

[2020-05-20 23:09] #413 closed

[2020-05-21 21:38] HiromuHota opened #425 "`get_horz_ngrams` works only when mention is_tabular"
**Describe the bug**

I have a span mention, `mention`, that is visual but is not tabular.
I tried to get all horizontally aligned ngrams from the same sentence (ie `get_horz_ngrams(mention, from_sentence=False)`), but I got none because it is not tabular.

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**

Since all the other 1-gram in the same sentence is horizonta

[2020-05-21 21:40] HiromuHota commented on #425
Oh, I just found a TODO comment
https://github.com/HazyResearch/fonduer/blob/faae9c2cbc56ee4775729f0cc2730b7eec71b869/src/fonduer/utils/data_model_utils/visual.py#L230-L240

[2020-05-23 16:30] HiromuHota commented on #422
As of faae9c2cbc56ee4775729f0cc2730b7eec71b869, the numbers of ":type" and ":rtype" in src/ and tests/ are like below:

[code]

[2020-05-27 00:22] HiromuHota opened #428 "Add a docstring guideline"
**Is your feature request related to a problem? Please describe.**

It'd be good to have a guideline for what the docstring should look like.
The following is my work-in-progress guideline

[code]

**Describe the solution you'd like**

Add a section like above to `docs/dev/codestyle.rst`

**Describe alternatives you've considered**

Use docstring style checker that can check our format.
There are

[2020-05-27 02:56] #425 closed

[2020-05-27 21:48] #422 closed

[2020-05-27 21:54] SenWu commented on #422
Can we add a todo to make sure all methods have type hint?

[2020-05-27 21:59] lukehsiao commented on #422
Already exists here: https://github.com/HazyResearch/fonduer/issues/66

[2020-05-27 22:00] SenWu commented on #422
Awesome!

[2020-06-03 18:54] #259 closed

[2020-06-06 00:08] HiromuHota commented on #12
@lukehsiao What exactly was the issue?
I recognize that "the PDF words, the 1, 2, and 3 appear, whereas they do not in the HTML." but I couldn't see that "this is causing a mismatch of words when doing the visual parse".

[md.xml.txt](https://github.com/HazyResearch/fonduer/files/4739033/md.xml.txt) is the output of `pdftotext -bbox-layout md.pdf md.xml.txt`.
According to this, the `Sentence` for

[2020-06-07 03:33] #384 closed

[2020-06-07 03:39] lukehsiao commented on #12
Hmmm, interesting. This issue is old enough that I can't recall the specifics of the issue, not do I have an example that demonstrates it. I should've added more specifics when this issue was created. It is definitely possible this issue was resolved over time and just was not closed...

@SenWu, do you have any recollection? If not, I'd suggest we close this as stale and can reopen if we find an i

[2020-06-09 01:11] SenWu commented on #12
Hi @HiromuHota ,

I think this issue is about word mismatch between HTML and PDF documents. In this case, some words appear in PDF but not in HTML such as `1`, `2`, and `3` and the order of words is not consistent in both documents. These two problems are causing word matching issues for visual linker. The reason for these problems is that we use different software to generate different types of d

[2020-06-09 01:42] #428 closed

[2020-06-09 18:20] HiromuHota commented on #12
Thank you guys for your recollections.
I think the 1st problem is easier to solve but the 2nd one is much harder or even **wouldn't fix**.
They would never be guaranteed to be consistent as HTML does not convey how exactly (at the pixel level) it is rendered and displayed.

The visual linker is supposed to link words between HTML and PDF.
Depending on your use case, the original source could be HT

[2020-06-10 02:01] HiromuHota opened #435 "All the documents are loaded onto memory at once during UDFRunner.apply and this leads to a slowness if they exceeds machine's memory size"
**Describe the bug**

This is not a bug, but a memory-inefficient computing.
When executing `UDFRunner.apply` (like `Parser.apply`), all the documents are loaded onto memory at once (see the code below) before processing them in mutiple processes parallelly.
https://github.com/HazyResearch/fonduer/blob/8134e4d22861cdc3104d3101a2ec7b021d88eef2/src/fonduer/utils/udf.py#L115-L116

When `len(doc_loade

[2020-06-10 10:55] wajdikhattel opened #437 "No image in the child image node"
**Describe the bug**
When the html doesn't have an image, the `_parse_figure` from the `parser.py` is not considering that in some cases the `imgs` list could be empty.

**To Reproduce**
Steps to reproduce the behavior:
1. Have a html with a figure object that doesn't have an image (eg. `<figure></figure>`)
2. Run the `Parser` with a `HTMLDocPreprocessor` instance
3. You will end up with the excep

[2020-06-10 10:56] SenWu commented on #12
@HiromuHota, you are exactly right!

My comments are mainly focus on PDF documents as input data. If the input data is HTML, it would be very hard to find exactly words in some cases.

And I agree that your suggested solution that embeds the coordinates into html and it’s actually the solution we want to have. That solution has multiple benefits such as it won’t rely on Adobe, it supports scanned

[2020-06-11 16:27] HiromuHota commented on #412
I'm working on #439 and currently the tests fail https://github.com/HazyResearch/fonduer/pull/439/checks?check_run_id=759815347 at assertions on the number of feature keys like below.
Mysteriously, the tests fail only at the number of feature keys while other assertions pass.

[code]

It seems to be reproducible as the same commit fails on my forked repo too (https://github.com/HiromuHota/fonduer/

[2020-06-11 16:46] HiromuHota commented on #412
One more thing: the same GitHub Actions job (https://github.com/HazyResearch/fonduer/pull/439/checks?check_run_id=759815303), but a different error on mac (3.7)

[code]

Two differences:
- test_e2e.py failed both Mac (3.6) and Linux (3.7), but it failed on the number of features on Mac.
- test_incremental.py passed on Mac.

[2020-06-11 17:39] HiromuHota commented on #412
By looking at two runs (https://github.com/HazyResearch/fonduer/actions/runs/131557275 and https://github.com/HiromuHota/fonduer/actions/runs/131556294), the three types of errors happened as below:
|       | 3.6   | 3.7   |
|-------|-------|-------|
| Mac   | 1A    | 1B    |
| Linux | 1A, 2 | 1B, 2 |

[2020-06-11 20:38] HiromuHota commented on #412
Regarding the 1A type of error, `session.query(Feature).count()` actually equals to the total number of candidates for split=1, ie `session.query(Feature).count() == len(dev_cands[0]) + len(dev_cands[1])`.
On my local Mac, they were 214 == 61 + 153.
But on Github Actions, they were 213 == 60 + 153.
Thus, the difference occurs on `PartTemp` and not on `PartVolt`.

[2020-06-11 21:01] HiromuHota commented on #412
The number of contituent mentions of `PartTemp`: `Part` and `Temp` were the same on local Mac and GitHub Actions.
This means `temp_throttler` drops one extra candidate on GitHub Actions.
[code]
The difference comes either from `same_table`, or from `is_horz_aligned/is_vert_aligned`.
I suspect the non-deterministic behaviour comes from the visual_linker.

[2020-06-11 22:49] HiromuHota opened #441 "Page assigned by VisualLinker is 1-based indexing while docs says 0-based"
**Describe the bug**

According to the [docs](https://fonduer.readthedocs.io/en/latest/user/parser.html#fonduer.parser.models.Sentence),

However, the page assigned by VisualLinker is 1-based indexing.

**To Reproduce**

It is trivial. You can see assertions like `assert sentence.page == [1, 1, 1]` at test_parser.py for example.

**Expected behavior**

This is ether a documentation error or implem

[2020-06-12 00:31] HiromuHota commented on #390
As of pip version 20.1,

It is still in an alpha stage and unstable, but this looks promising!

[2020-06-12 02:38] HiromuHota opened #442 "pdf_path cannot be without a trailing slash"
**Describe the bug**

`docs_path` and `pdf_path` are typically followed by a slash "/" like below:

[code]

While `docs_path` can be without a trailing slash, `pdf_path` cannot.

**To Reproduce**
Steps to reproduce the behavior:
1. Do not set a trailing slash like `pdf_path = "tests/data/pdf"`
2. Parse

**Expected behavior**

`pdf_path` without a trailing slash works too.

**Error Logs/Screenshots

[2020-06-12 09:29] #437 closed

[2020-06-12 17:22] HiromuHota opened #443 "Bbox field order is inconsistent between how it is defined and how it is used"
**Describe the bug**

Bbox is currently defined as below:
https://github.com/HazyResearch/fonduer/blob/0bbd4388ce9225a6f32dcc70b133e0c566d1868d/src/fonduer/utils/utils_visual.py#L5-L12

This is equivalent to the previous implementation
[code]

Meanwhile, a different order (page, top, left, bottom, right) can be seen in some places like
https://github.com/HazyResearch/fonduer/blob/0bbd4388ce9225a6f

[2020-06-12 17:46] #66 closed

[2020-06-12 18:41] HiromuHota opened #445 "visualizer.get_box is a duplicate of utils_visual.bbox_from_span"
**Describe the bug**

`visualizer.get_box` below is a duplicate of `utils_visual.bbox_from_span`
https://github.com/HazyResearch/fonduer/blob/0bbd4388ce9225a6f32dcc70b133e0c566d1868d/src/fonduer/utils/visualizer.py#L107-L115

https://github.com/HazyResearch/fonduer/blob/0bbd4388ce9225a6f32dcc70b133e0c566d1868d/src/fonduer/utils/utils_visual.py#L15-L31

`utils_visual.bbox_from_span` is now deprecat

[2020-06-12 23:29] HiromuHota commented on #443
The reason why there was no issue from the user perspective is that they are consistent within its own module: `visual_linker.py` (and `visualizer.py`) and they are totally internal.

[2020-06-13 00:46] HiromuHota commented on #412
A few updates:
1. Found that the different number of candidates in https://github.com/HazyResearch/fonduer/issues/412#issuecomment-642916724 comes from `tests/data/html/2N6427.html`.
2. `VisualLinker` behaves non-deterministically.

Case 1 (the test assertion assumes the following result from VisualLinker)
[code]

Case 2 (this happens sometimes, not sure what make this happen)
[code]

[2020-06-13 02:49] #443 closed

[2020-06-13 04:25] #445 closed

[2020-06-14 02:35] SenWu opened #453 "Test"
## Description of the bug
A clear and concise description of what the bug is.

## To Reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Execute the code '...'
If necessary, attach example data which can be used to replicate the issue.

## Expected behavior
A clear and concise description of what you expected to happen.

## Error Logs/Screenshots
If applicable, add erro

[2020-06-14 02:36] #453 closed

[2020-06-14 15:28] wajdikhattel opened #455 "Add multary-candidates for feature extraction"
## Description of the feature request

Implementing the feature extraction of multary-candidates instead of only supporting unary and binary candidates.

## Description of the solution you'd like
The `textual`, `structural`, `tabular` and `visual` features extraction extract features based on a multary-relation between the spans

[2020-06-15 23:58] HiromuHota commented on #412
One update: the non-deterministic behaviour of `VisualLinker` comes from the fact that `doc.sentences` is not sorted.

I think the following relationship should have `order_by=True` to the `backref` argument.
https://github.com/HazyResearch/fonduer/blob/246a92dd05884e3a706ba216e6177456d537de13/src/fonduer/parser/models/sentence.py#L248-L252

Findings that lead me to the above statement:
- "The loc

[2020-06-16 01:16] HiromuHota opened #457 "Parser.clear() does not clear until session.commit() is executed"
## Description of the bug

`Parser.clear()` does not clear anything until `session.commit()` is executed elsewhere.
According to https://docs.sqlalchemy.org/en/13/orm/session_basics.html#deleting,

## To Reproduce
Steps to reproduce the behavior:

[code]

## Expected behavior

When `corpus_parser.clear()` above is executed, any instance of `Context` like `Document`, `Sentence` should be deleted.

[2020-06-16 01:33] HiromuHota commented on #412
A few more updates:
- In order to reproduce this, I had to delete and re-create a database (`dropdb e2e_test` and `createdb e2e_test`). This would mean that the order of `doc.sentences` depends on some internal state of the postgres database.
- Another observation that supports the above is that I have not observed this non-deterministic behaviour if a database is not used (ie just using UDFs).

[2020-06-17 00:14] #412 closed

[2020-06-17 00:36] HiromuHota commented on #457
I'm trying to write a unit test that can reproduce this issue, but can't.
Close for now.

[2020-06-17 00:36] #457 closed

[2020-06-18 00:45] #442 closed

[2020-06-19 17:50] #435 closed

[2020-06-20 20:44] SenWu commented on #333
So, the expected order should be (1) node.text, (2) text in the inner node, and (node.tail)?

[2020-06-20 21:37] SenWu commented on #315
Close for now. Feel free to reopen if it's still an issue.

[2020-06-20 21:37] #315 closed

[2020-06-20 21:38] #219 closed

[2020-06-20 22:38] SenWu opened #461 "Mlflow 1.9.0 breaks the unit tests"
## Description of the bug

Mlflow 1.9.0 breaks the unit tests.

## To Reproduce
Use mlflow 1.9.0 to run unit tests.

## Expected behavior
Unit tests pass.

## Error Logs/Screenshots
https://github.com/HazyResearch/fonduer/pull/460/checks?check_run_id=791449491

## Environment (please complete the following information)
 - OS: Ubuntu 18.04.4
 - PostgreSQL Version: 12
 - Poppler Utils Version: [e.g.

[2020-06-21 03:09] #441 closed

[2020-06-22 17:37] HiromuHota commented on #461
The error log says
[code]

I think the change introduced by https://github.com/mlflow/mlflow/pull/2920 is the cause.
As of MLflow v1.9.0, the FonduerModel is wrapped by `PyFuncModel`, which has no attribute '_process'.

[2020-06-22 18:23] HiromuHota commented on #461
Another change introduced by mlflow/mlflow#2920 causes another issue.

[2020-06-23 01:09] HiromuHota opened #464 "The content for "MLflow model for Fonduer" is missing from Read The Docs"
## Description of the bug
A clear and concise description of what the bug is.

The content for "MLflow model for Fonduer" is missing from Read The Docs
![image](https://user-images.githubusercontent.com/20668349/85349449-4ea80000-b4b3-11ea-941d-86faa684e21d.png)

## To Reproduce
Steps to reproduce the behavior:
1. Visit https://fonduer.readthedocs.io/en/latest/user/packaging.html#mlflow-model-for-

[2020-06-23 07:48] #461 closed

[2020-06-23 17:13] lukehsiao commented on #464
For reference, ReadTheDocs isn't reporting any build error, but it looks like there actually is errors. The full log is attached:

[rtd-log.txt](https://github.com/HazyResearch/fonduer/files/4820855/rtd-log.txt)

When building the docs, RTD doesn't actually pip install the fonduer package, so any packages that are required to build the docs should be included in docs/requirements.txt, which is ins

[2020-06-23 17:17] HiromuHota commented on #464
Thanks for looking into this.
I could add `cloudpickle` into docs/conf.py, but do you know how to test it? Like can we emulate the RTD's build environment?

[2020-06-23 17:28] HiromuHota opened #465 "Unable to allocate 370. GiB for an array with shape (294791, 336473) and data type int32"
## Description of the bug

When parsing a large HTML file (32MB), the following error occurred:

[code]

Note that "XXX" above error message is masked for privacy.

## To Reproduce
Steps to reproduce the behavior:
1. Enable `lingual=True`
2. Parse a large HTML file

The above error message is not always shown.
Most of the times, Fonduer silently fails.

## Expected behavior

A machine with 24GB ca

[2020-06-23 17:36] HiromuHota commented on #465
As I'm almost certain this issue came from spaCy. I searched issues on https://github.com/explosion/spaCy with a query "Unable to allocate" takes me to https://github.com/explosion/spaCy/issues/4847.

[2020-06-23 18:39] HiromuHota commented on #465
A debugging revealed that the memory allocation issue happens during "parser" component in the spaCy pipeline.

https://github.com/HazyResearch/fonduer/blame/9a33adaac989c204a45b352662853ad9d7c16a8b/src/fonduer/parser/lingual_parser/spacy_parser.py#L178-L179

Fact checks:
- `self.model.max_length` is 1,000,000 (by default).
- `sentence_batches` has two inner list of sentences, and each has 9714 an

[2020-06-23 21:13] HiromuHota commented on #465
A workaround is to lower `max_length`.
Currently, `max_length` is not configurable but hopefully becomes configurable.

`max_length` actually depends on `PARALLEL`.
E.g.,
if PARALLEL=1, `max_length` could be 100,000, but
if PARALLEL=2, `max_length` could be 50,000.

[2020-06-23 21:14] lukehsiao commented on #464
One way to test would be to make a clean virtualenv, `pip install docs/requirements.txt`, and then try `make docs`. I believe that mimics the environment. If we need more, we can make a separate branch, and actually build it on RTD to see.

[2020-06-23 21:20] HiromuHota commented on #464
Thanks. Let me try to build and check it.

[2020-06-24 01:27] HiromuHota commented on #465
I found that the error message originally came from NumPy.
[code]

[2020-06-24 01:41] HiromuHota commented on #465
I think the implication of this issue is two-hold:
1. It'd be good to make `max_length` configurable.
2. It'd be good to print a stack trace of an error to show where the error originates from as an error message alone is hard to debug.

[2020-06-24 01:59] #464 closed

[2020-06-24 16:24] HiromuHota commented on #464
I confirmed that the issue has been resolved at https://fonduer.readthedocs.io/en/latest/user/packaging.html.

[2020-06-24 16:51] HiromuHota commented on #333
I think so.
This is especially true when you want to align words between HTML and PDF (related to #12).
I don't think this is a major issue, though.

[2020-06-29 18:25] HiromuHota opened #467 "GitHub Actions fail on macos"
## Description of the bug

GitHub Actions fail on macos.
This issue has been found during #456.
Here are my findinds:

- The macOS environment got updated from `20200610.3` to `20200618.1` 6/24 6:13PM (PDT) (https://github.com/actions/virtual-environments/commit/15c14c65f0e07a6664d6eb9624bb8827d2576b73#diff-e9f9822df5b3b9087dd94d4c3c083277)
- The last successful run on the master branch was 6/23 6

[2020-06-29 19:18] HiromuHota commented on #467
The exit code 1 comes from the following log message:
[code]

[2020-06-29 20:09] HiromuHota commented on #467
The succeeded run also produced a similar message but this is a warning.
[code]

[2020-06-29 20:16] HiromuHota commented on #467
A notable difference between `20200610.3` and `20200618.1` is that `20200610.3` uses Homebrew of v2.3.X and `20200610.3` uses v2.4.X.

[2020-06-29 20:35] #467 closed

[2020-06-30 00:46] HiromuHota opened #469 "get_max_row_num is missing"
## Description of the bug

Currently, `fonduer.utils.data_model_utils.tabular` has
1. `get_max_col_num`
2. `get_min_col_num`
3. `get_min_row_num`

but `get_max_row_num` is missing

## To Reproduce

N/A

## Expected behavior

Implement `get_max_row_num` to make it symmetric.

## Error Logs/Screenshots

N/A

## Environment (please complete the following information)
 - Fonduer Version: 0.8.2

## Add

[2020-06-30 20:57] HiromuHota opened #471 "get_col_ngrams and get_cell_ngrams return inconsistent result when a mention is not tabular"
## Description of the bug

`get_col_ngrams` and `get_cell_ngrams` from `fonduer.utils.data_model_utils.tabular` return an inconsistent result when a mention is not tabular

Given `mention.get_span()=="Sample"` and `mention.is_tabular() == False` like below, `get_col_ngrams(mention)` returns `[None]` while `get_cell_ngrams(mention)` returns `["markdown"]`

![image](https://user-images.githubusercon

[2020-07-01 15:41] HiromuHota opened #473 "NUMBER is not supported entity type by spaCy"
## Description of the bug

`NumberMatcher` matches spans if their ner_tag is either `NUMBER` or `QUANTITY`.

https://github.com/HazyResearch/fonduer/blob/7f5c6633b51bd2e5102a463c739d6c4ec10db147/src/fonduer/candidates/matchers.py#L453-L465

However, `NUMBER` is not supported entity type by spaCy.
https://spacy.io/api/annotation

## To Reproduce

N/A

## Expected behavior

`NumberMatcher` should ma

[2020-07-01 19:17] #455 closed

[2020-07-06 16:34] HiromuHota opened #474 "make check fails because of an isort's breaking change"
## Description of the bug

GitHub Actions failed https://github.com/HazyResearch/fonduer/runs/839099081 because isort's breaking change.

isort has been updated 7/4 (https://github.com/timothycrosley/isort/blob/master/CHANGELOG.md#500-penny---july-4-2020)
v5.0.0 introduced many breaking changes and the following change broke fonduer's testing code.
- --recursive option has been removed. Directorie

[2020-07-06 16:49] HiromuHota commented on #474
These changes also affect Fonduer:
- isort now formats all nested "as" imports in the "from" form. import x.y as a becomes from x import y as a.
- Since there is no longer composition negative form settings (such as --dont-skip or it's config file variant not_skip) are no longer required and have been removed.

[2020-07-07 00:18] #474 closed

[2020-07-07 18:14] HiromuHota commented on #12
According to https://documents.icar-us.eu/documents/2016/12/report-on-file-formats-for-hand-written-text-recognition-htr-material.pdf, there are 4 major file formats for OCR:
1. PAGE XML
2. ALTO XML
3. ABBYY FineReader XML
4. hOCR

I'd propose to support hOCR because:
1. The first three formats are XML-based. On the other hand, hOCR is an XML-based format, but embedded in HTML/XHTML documents. Bec

[2020-07-07 19:03] SenWu commented on #12
Awesome! I think your suggestion (hOCR) is super great!

[2020-07-07 23:21] HiromuHota opened #476 "Support hOCR"
## Description of the feature request

**Is your feature request related to a problem? Please describe.**

One of my use cases is to extract information from scanned documents.
Tesseract, the most popular open-source OCR, supports hOCR as an output format.
I'd like Fonduer to support hOCR (aka html OCR) as an input format.

## Description of the solution you'd like

1. I'd like Fonduer to use "vis

[2020-07-08 18:27] HiromuHota commented on #476
https://github.com/cneud/ocr-conversion is a collection of scripts and stylesheets for conversion between various OCR formats.

[2020-07-08 18:44] HiromuHota commented on #476
[Granularities in different OCR formats
](https://docs.google.com/document/d/13R7Dk-AA-ALZ5i3fzAS3g66umWjiYaD7NVr8QiYb19E/edit#heading=h.q6phhnqlv5sf)
![image](https://user-images.githubusercontent.com/20668349/86957965-52bd5a00-c110-11ea-83a2-ca9452716445.png)

[2020-07-09 22:26] HiromuHota opened #478 "Details of a parse error"
## Description of the feature request

**Is your feature request related to a problem? Please describe.**

When an error happens during parsing, Fonduer shows an error message (actually a warning message), which is not enough to debug it.

[code]

## Description of the solution you'd like

I'd like Fonduer to show a stack trace when `log.setLevel(logging.DEBUG)` so that I can see where the error c

[2020-07-11 07:40] #473 closed

[2020-07-15 05:02] #469 closed

[2020-07-15 16:27] HiromuHota commented on #478
2ec28959af872381e109e10c7684c26384c63df2 changed the way how an exception is handled:
[code]

[2020-07-15 17:58] HiromuHota commented on #478
https://docs.python.org/3/howto/logging.html#when-to-use-logging describes when to use which logging.

[2020-07-15 18:16] SenWu commented on #478
I cannot recall the motivation behind this. The design principle there is (1) Do not break the parsing; (2) Provide information to user about the parse error. I do think more information there is better.

[2020-07-15 18:22] HiromuHota commented on #478
Thanks for your input.
#479 provides more detailed information (ie a stack trace) yet does not stop parsing on parse error.

[2020-07-16 23:15] HiromuHota opened #482 "sqlalchemy.exc.InvalidRequestError during labeler.apply or featurizer.apply"
## Description of the bug

When executing `labeler.apply` or `featurizer.apply`, sqlalchemy.exc.InvalidRequestError occurs.

## To Reproduce
Steps to reproduce the behavior:
1. Deploy the fonduer-tutorials using docker
2. Upgrade fonduer to the latest commit on the master branch
3. Run the hardware tutorial up to 2.2 Multimodal Featurization

## Expected behavior

`labeler.apply` and `featurizer.a

[2020-07-16 23:17] HiromuHota commented on #482
As can be seen from the slightly different error message (ie "This session is in 'committed' state" and "This session is in 'prepared' state"), this issue looks to me be in a race-condition.

[2020-07-16 23:56] HiromuHota commented on #482
This https://github.com/HiromuHota/fonduer-tutorials/runs/879864413 successfully demonstrated this issue.

[2020-07-17 00:14] HiromuHota commented on #482
I think the root cause is that a single `session` is accessed concurrently by multiple threads in the `UDFRunner`.
The main thread at https://github.com/HazyResearch/fonduer/blob/a3af3877ef94fd8466b24b7cad7145a13413ac68/src/fonduer/utils/udf.py#L149

and the another at https://github.com/HazyResearch/fonduer/blob/a3af3877ef94fd8466b24b7cad7145a13413ac68/src/fonduer/utils/udf.py#L136

Actually, the

[2020-07-17 21:19] HiromuHota opened #483 "Unbearable slowness in `Featurizer.get_feature_matrices`"
## Description of the bug

`featurizer.get_feature_matrices(train_cands)` does not return within a bearable amount of time.

## To Reproduce
Steps to reproduce the behavior:
1. Deploy the fonduer-tutorials using docker
2. Upgrade fonduer to 2a49291003c2826835b0b900425d7663f0ecc202 (introduced by #407)
3. Run the hardware tutorial up to 2.2 Multimodal Featurization

## Expected behavior

`featurize

[2020-07-17 22:28] HiromuHota commented on #483
https://github.com/HiromuHota/fonduer-tutorials/runs/883626478 demonstrates the hardware tutorial stalls at `featurizer.get_feature_matrices(train_cands)` (right after `featurizer.apply(split=0, train=True, parallelism=PARALLEL)`) and timeouts (360 minutes).

[2020-07-17 23:50] HiromuHota commented on #483
Demonstrated by https://github.com/HiromuHota/fonduer-tutorials/runs/883723629, the proposed fix #484 can reduce the elapsed time to about 1 min.

[code]

[2020-07-19 17:33] #483 closed

[2020-07-21 17:23] HiromuHota opened #486 "ValueError: zero-size array during _strlib_multinary_features"
## Description of the bug

"ValueError: zero-size array" happens during featurization.

## To Reproduce
Steps to reproduce the behavior:
1. Run the hardware tutorial with the latest commit (d94f3be21326db7c0660a7a51c75ac27511db110) of Fonduer.

## Expected behavior

Featurization runs without an error.

## Error Logs/Screenshots

https://github.com/HiromuHota/fonduer-tutorials/runs/880000246
[code

[2020-07-21 23:05] #478 closed

[2020-07-21 23:12] #482 closed

[2020-07-22 18:26] HiromuHota commented on #486
The error happens when processing Document "Infineon-BC857SERIES_BC858SERIES_BC859SERIES_BC860SERIES-DS-v01_01-en".

[2020-07-22 21:21] HiromuHota commented on #486
The root cause is that `fonduer.utils.data_model_utils.common_ancestor` does not assume all the mentions share exactly the same ancestor.

The error happens when executing `common_ancestor(c)` with a candidate: `PartTemp(Part(ImplicitSpanMention("BC859", sentence=2516, words=[4,6], position=[0])), Temp(ImplicitSpanMention("200", sentence=2514, words=[1,1], position=[0])))`.
As illustrated below, t

[2020-07-24 22:52] dbulhosa commented on #3
Hey @lukehsiao! I tried using different PDF to HTML converters (pdfminer.six, pdf2htmlEX, pdftotree) and by far the converter that best preserved the semantic structure of the PDF text when parsed was pdftotree. However, when using pdftotree I get the error: `Document not added to database because of parse error: "list index out of range"`.

I am going to try using Acrobat Reader but my ultimate g

[2020-07-25 02:48] #486 closed

[2020-07-26 03:51] lukehsiao commented on #3
Yes, that's correct. But it is "unmaintained" in the sense there is no active development right now. If you wanted to track down that bug an open a PR, we'd be happy to review and merge it.

Our experience is similar to yours. We tried a whole lot of different packages (ABBYY is another fairly popular option you didn't mention), but non work great. That was the motivation for starting pdftotree, b

[2020-07-27 02:06] dbulhosa commented on #3
Hey! I really appreciate you getting back to me. I may try tracking down the bug if I have the time for it and need to. I did try the Acrobat actions and it worked great for bulk converting PDFs but like you mention I got some crashes. In the end I don't think I'll be able to use it because there isn't a license + SDK for the type of application I need to create.

I am finding though that the outp

[2020-07-27 16:59] HiromuHota commented on #476
As illustrated in https://en.wikipedia.org/wiki/HOCR like below, an hOCR typically uses `<span />` element for words

[code]

Meanwhile, `fonduer.parser.Parser` flattens `<span />` elements by default (configurable by the `flatten` argument, though).

[2020-07-29 20:42] HiromuHota opened #489 ""Document "{document.name}" not added to database, because of parse error" but being added"
## Description of the bug

When an error happens during parsing, an error message: "Document "{document.name}" not added to database, because of parse error" appears, but the `Document` object itself is added to database before the parser error happens.

## To Reproduce
Steps to reproduce the behavior:
1. Use the latest commit (1d6771befb95f4ae94f308899633294a003dcfd6)
2. Let a parser fail
3. Exec

[2020-07-31 23:47] #489 closed

[2020-08-05 18:48] #270 closed

[2020-08-20 21:01] HiromuHota opened #494 "parser.apply does not return for a long time even though the progress bar indicates it finishes parsing"
## Description of the bug

This is not a bug, but a performance issue.
This is not noticeable when parsing a small number of documents, but parser.apply does not return even though the progress bar indicates it finishes parsing a long time ago (1 hour or more ago).

## To Reproduce
Steps to reproduce the behavior:
1. Parse many documents (my case: ~2500)

## Expected behavior

`parser.apply` retur

[2020-08-20 21:06] HiromuHota commented on #494
I found it stuck at `self.session.commit()` in `UDFRunner._apply`.

https://github.com/HazyResearch/fonduer/blob/01e0d9319b523aff7aa7f5c583a9f330b0705ecc/src/fonduer/utils/udf.py#L168

[2020-08-20 23:42] HiromuHota commented on #390
As of pip version 20.2,

https://pip.pypa.io/en/stable/news/#id18

[2020-08-21 00:14] HiromuHota commented on #494
I think this is a regression from 807a4b8a5960ef8cd11df892f98bee60ecf9a804 (#490).
By this commit, all the changes during `parser.apply` are held in memory until they are flushed out to the database, which could easily overflow the RAM size when many documents are processed.

[2020-08-21 01:01] HiromuHota commented on #494
memory usage of the Python process. Until you call session.flush(),
all your modifications are held in memory. For small numbers of rows
this isn't a problem, but for huge numbers, it might be.

https://groups.google.com/g/sqlalchemy/c/hK4vIziMWOQ/m/98O5d2dqCgAJ

[2020-08-21 02:24] HiromuHota commented on #390
Okay, pip with `--use-feature=2020-resolver` seems to be working.

[2020-08-24 22:28] HiromuHota opened #496 "Allow NULL mention in a candidate"
## Description of the feature request

**Is your feature request related to a problem? Please describe.**

As far as I understand, a candidate does not allow NULL mention.
In reality, there are cases that some mention could be NULL.
Regarding the US president information extraction from Wikipedia, Let's assume we want to extract the spouse's name in addition to the president's name and place of bi

[2020-08-29 11:37] saikalyan9981 opened #501 "Duplicate key error while adding two mentions which are same"
Suppose that I have two mentions (say for example zip-code and  tax code) whose matchers return true (checking 5 digit regex match for both mentions) for the same span in document, then I think Fonduer is throwing this error. please help me in resolving this.
[code]

[2020-08-29 12:20] saikalyan9981 commented on #501
Note that this was happening because I was using a different MentionExtractor for the two mentions.

[2020-08-31 16:36] HiromuHota commented on #501
What would happen if you use only one MentionExtractor for the two mentions?

[2020-08-31 23:56] saikalyan9981 commented on #501
I need two mention Extractors in my program because first I'm extracting some candidates with certain matchers and labelling functions, and based on those candidates extracted, I need to extract some other candidates, in next round.
Do you think it's bad to have such a pipeline?

[2020-09-01 00:00] HiromuHota commented on #501
I'm not saying this is a bad idea or not. I'm just trying to understand the issue.
From your response, seems that you've never tried to extract these two mentions with a single MentionExtractor.

Which version of Fonduer are you using?

[2020-09-01 00:25] saikalyan9981 commented on #501
I'm using "0.8.2". I'm using a singleMentionExtractor for 4 mentions in the first run. I need to have those mentions extracted to extract other mentions in my second run, so using a second mention extractor.

[2020-09-01 01:54] HiromuHota commented on #501
@saikalyan9981 Thanks for this valuable information! I'll look into this.
Meanwhile, you could use a single extractor as a workaround if the second extraction does not depend on the first one.

[2020-09-01 17:53] saikalyan9981 opened #502 "Extracting Information from tables without Borders"
While extracting, Fonduer is not detecting the table structure of tables without borders. For example, in given figure:
![table_without_border](https://user-images.githubusercontent.com/30959693/91887045-e1c99700-eca7-11ea-8ad1-5c97b99a3b26.png)
I like to extract mentions under all the columns. Without Fonduer detecting table structure, it's difficult to extract, especially the mentions under colu

[2020-09-02 00:59] HiromuHota commented on #502
Fonduer does not detect tables in an image. You need to provide tabular information. If you can only provide textual and visual (bbox) information, what you are currently doing would be the best thing you could do.

How to detect tables?
It seems that ABBYY FineReader can detect tables (https://abbyy.technology/en:features:ocr:xml).
There would be some open-source alternatives too.

Hope this help

[2020-09-02 04:45] saikalyan9981 commented on #502
Thanks, @HiromuHota  I will check that out. Also, I wasn't extracting for images, I was trying to mention that Fonduer isn't detecting/parsing Tables without borders similar in the above image for a document/PDF.

[2020-09-02 05:16] saikalyan9981 commented on #502
Thanks @HiromuHota , I will check that out, I was also trying to mention that Fonduer isn't detecting borderless tables while parsing a document.

[2020-09-02 16:02] HiromuHota commented on #502
From the image that you uploaded, I thought you were dealing with **scanned** documents.
If it is not, what is your original source? HTML or PDF? If PDF, how do you convert PDF to HTML?

Basically, Fonduer does not care about how tables look to human eyes.
What really matters is how the table is represented in HTML.
To be treated as a table, the table (at least it looks to be a table to human-eye)

[2020-09-04 01:36] #496 closed

[2020-09-04 23:42] HiromuHota commented on #501
I found that this issue is a regression caused by #368.
A workaround would be to set `clear=False` like `mention_extractor.apply(clear=False, ...)`.
@saikalyan9981 can you try this workaround? Please let me know how it works.

[2020-09-05 00:05] HiromuHota commented on #501
I think this issue is similar (not identical) to #424.
You will have an error even when you set `clear=True`.
A workaround would be to downgrade to v0.7.1 or to upgrade to v0.8.3, which is not released yet.

[2020-09-08 16:58] saikalyan9981 commented on #502
Yes this is issue with HTML conversion of tables in PDF and not of Fonduer.

[2020-09-08 16:58] #502 closed

[2020-09-08 20:07] HiromuHota opened #503 "get_sentence_ngrams, get_neighbor_sentence_ngrams, same_sentence should be fonduer.utils.data_model_utils.textual?"
## Description of the bug

`get_sentence_ngrams`, `get_neighbor_sentence_ngrams`, `same_sentence` are placed under `fonduer.utils.data_model_utils.tabular` module, but their names sound and their behaviours look textual.

## To Reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Execute the code '...'
If necessary, attach example data which can be used to replicate the

[2020-09-08 23:59] HiromuHota commented on #476
What I would propose is illustrated by the diagram below.
![image](https://user-images.githubusercontent.com/20668349/92537989-5fcef600-f1f2-11ea-9641-875a8d347b0d.png)

Here are things to be developed:
- `HOCRDocPreprocessor` (new)
- `VisualLinker` (changed)

`HOCRPreprocessor` is for hOCR files, which flattens `span.ocrx_word` and `span.ocr_line` but preserves the title attribute of each `span.o

[2020-09-09 20:01] HiromuHota commented on #366
Is this still an issue?
I can't find any `_MockObject` in the readthedocs. (see the search result at https://readthedocs.org/projects/fonduer/search/?q=_MockObject)

[2020-09-09 23:55] HiromuHota commented on #217
Not only this, but scalability both in computing and in storing is a challenge for Fonduer.

[2020-09-11 12:52] saikalyan9981 opened #507 "BBox value errors"
While getting bbox values, say left values for some sentences, the left value for "\n" in the sentence is being an outlier. which is causing the bbox of entire sentence as wrong. [which is calculated as min of all lefts in sentence]

For Example if sentence is
[Hello
World]
with words as [Hello,"\n", World]
the left values are like [ 213,154,213].
This is observed when Hello\nWorld sentence is in

[2020-09-11 16:45] saikalyan9981 commented on #507
Thanks @HiromuHota , I think that's the root cause for this issue. Any idea, if hOCR will be included in next version?

[2020-09-11 16:57] HiromuHota commented on #507
The current visual linker links words between HTML and PDF by just looking at similarities of each word.
As a result, common words, which appear many times in a document, tend to be mis-linked.

I'm currently working on hOCR. As this would require an architectural change, it would need to increase a minor version like (v0.9.X).
Please stay tuned.

[2020-09-11 18:03] #503 closed

[2020-09-11 18:12] #471 closed

[2020-09-12 20:50] #390 closed

[2020-09-17 10:20] saikalyan9981 opened #511 "Is this the right way to test the saved emmental models?"
I have gone through the code of packaging in ML Flow. While testing, I think the code here  [hardware_fonduer_model](https://github.com/HazyResearch/fonduer/blob/master/tests/shared/hardware_fonduer_model.py) classifies one document a time. However I would like to test in multiple documents at once:

So Is this code snippet correct, to test the model
[code]

Is this right way to do it?
I'm not sur

[2020-09-17 15:47] HiromuHota opened #512 "ReadTheDocs error"
## Description of the bug

Currently, some parts of the document cannot be seen like below:
![image](https://user-images.githubusercontent.com/20668349/93494711-2f5a1c80-f8c2-11ea-9829-b490b6efbcc6.png)

## To Reproduce
Steps to reproduce the behavior:
1. Go to https://fonduer.readthedocs.io/en/latest/user/features.html

## Expected behavior

For example, the featurization page should look like th

[2020-09-17 16:17] HiromuHota commented on #511
@saikalyan9981

This cannot be commented out. Please execute this so that features are created and stored in Postgres.

"keys" in this case means the names of features that are used by Emmental.
Suppose `N` keys are selected (by `featurizer.apply(train=True`), here is how `Featurizer` works:
- `featurizer.apply` creates features from candidates with no filter.
- `featurizer.get_feature_matrices` f

[2020-09-18 13:10] saikalyan9981 commented on #511
Thank you for clarifying my doubts @HiromuHota ,
Just to make sure I understood it right,
first `featurizer.apply(split=0, train=True, parallelism=PARALLEL)`
then drop all the keys present
then upsert stored keys
then get_feature_matrices
[code]

[2020-09-21 20:30] HiromuHota commented on #511
I'd suggest two changes:
1. Use split=2 for test data. (That's the convention. 0/1/2 - train/dev/test).
2. Do not `train=True` on test_cands if you drop the trained keys right after training it.

So your code should look like below.

[code]

[2020-09-22 09:46] saikalyan9981 commented on #511
@HiromuHota Thanks for the correction
In my code, backend postgres have some keys for Featurizer when I'm using it second time for a different candidate.
Although I try to drop keys, some of them aren't getting dropped. But when I drop after train=True, all keys gets dropped.

[code]
This is the reason, I'm using train=True and then dropping the keys

[2020-09-22 20:28] HiromuHota commented on #511
@saikalyan9981 Thank you for letting us know the reason behind.
This behavior looked strange to me at first but now I can see it more clearly after reading documentations carefully.
Nonetheless, this behavior is still very confusing and would require improvement.

Here is why this happens:
`Featurizer` takes a list of candidate classes when it gets initialized.
`featurizer.drop_keys` drops **only*

[2020-09-22 21:31] HiromuHota opened #514 "Featurizer.get_keys() does not honor candidate classes in context"
## Description of the bug

Unlike other methods (eg `Featurizer.drop_keys()` and `Featurizer.upsert_keys()`, `Featurizer.get_keys()` does not honor candidate classes in context but returns all feature keys no matter which candidate class they are associated with.
This is confusing.

See https://github.com/HazyResearch/fonduer/issues/511#issuecomment-696618392 for how this actually confused a user.

[2020-09-22 21:45] #507 closed

[2020-09-22 21:47] HiromuHota commented on #265
Close for now as it has no plan to fix in the immediate future.

[2020-09-22 21:47] #265 closed

[2020-09-22 21:49] HiromuHota commented on #166
Duplicate of #12

[2020-09-22 21:49] #166 closed

[2020-09-22 21:53] HiromuHota commented on #501
Closing as v0.8.3 has been released.

[2020-09-22 21:53] #501 closed

[2020-09-24 16:56] HiromuHota commented on #512
@SenWu can you see any error message at the ReadTheDocs server?

[2020-09-24 17:53] lukehsiao commented on #512
The ReadTheDocs is actually under my account. This is the error log I see:

[code]

[2020-09-24 17:59] HiromuHota commented on #512
@lukehsiao thanks for looking into this.
I think the exception below is the problem. Let me quickly fix this.

[2020-09-24 18:02] lukehsiao commented on #512
I imagine you just need to add deprecation to

https://github.com/HazyResearch/fonduer/blob/master/docs/requirements.txt

Assuming that is the only missing one.

[2020-09-24 20:19] #512 closed

[2020-10-05 18:33] #333 closed

[2020-10-06 23:05] ashleo25 opened #521 "HTMLDocPreprocessor for PDF documents is it always required"
I have set of pdf documents but i am struggling with converting them into html documents
I directly want to parse the pdf documents without htmldocpreprocessor in the loop
Please confirm is it possible or way around  Please help @lukehsiao @SenWu @vincentschen @ZZWENG

[2020-10-06 23:23] SenWu commented on #521
Hi @ashleo25,

Thanks for your interest in our work.

The short answer is no, since in our current pipeline we need to use the HTML-like document to access the textual, tabular, structural, and visual information in the pdf.

But the good news is that we are working on supporting different ways to convert pdf to HTML which I think will largely benefit real users. As you might know, we currently us

[2020-10-06 23:28] HiromuHota commented on #476
Fixed by #519

[2020-10-06 23:28] #476 closed

[2020-10-06 23:41] HiromuHota commented on #3
The next release of pdftotree (v0.5.0) will convert PDF into hOCR, which can be parsed by Fonduer (#519).

[2020-10-06 23:41] #3 closed

[2020-10-08 07:20] ashleo25 opened #522 "How can i extract a paragraph and all associated sentences in document"
How can i extract a paragraph and all associated sentences in document
Basically i need paragraphs with associated sentences

Appreciate your help

[2020-10-08 17:55] lukehsiao commented on #522
It's not clear to me exactly what you're trying to accomplish, and whether it makes sense to use Fonduer. Fonduer helps extract pre-determined relationships from richly-formatted documents. If you just want the document contents, you might be able to use something simpler, like Poppler's `pdftotext` instead. Can you explain your use case in detail?

[2020-10-10 04:36] ashleo25 commented on #521
Hi @SenWu
Thanks for sharing the details
I tried using pdftotree for pdf to HTML conversion but unable to convert images in the pdf
There was a mention  that --  A full set of documents and ground truth labels can be downloaded here: PaleoDocs. You can train a machine-learning model to extract table regions by downloading this dataset and extracting it into a directory named data and then running

[2020-10-13 06:44] SenWu commented on #521
Hi @ashleo25,

Thanks for raising this issue.

I think it would be better open an issue for [pdftotree repo](https://github.com/HazyResearch/pdftotree). Also, more info or example doc would help us better understand the issue and resolve it.

Sen

[2020-10-13 06:44] #521 closed

[2020-10-14 19:15] AshutoshUpadhya opened #523 "Suggestion required: Getting error while applying Featurizer"
@SenWu @HiromuHota  .. can you pls suggest if my analogy is right?

I am getting error :-
File "abcd./anaconda3/lib/python3.7/site-packages/fonduer/utils/data_model_utils/structural.py", line 55, in _get_node
    return doc_etree.xpath(sentence.xpath)[0]
IndexError: list index out of range

I am following Hardware tutorial on some Email HTML msgs and getting mentions count near 4000

Also :--
trai

[2020-10-15 16:46] HiromuHota commented on #523
@AshutoshUpadhya
`doc_etree.xpath(sentence.xpath)[0]` should return `HtmlElement` that is corresponding to `sentence.xpath`.
You mentioned that "no candidates being generated" but the function `_get_node` will not be visited if you have no candidate.
This could be a bug at Fonduer, but I'm not sure at the moment. Please help me figure that out.
Can you check the followings?

[code]

and

[code]

[2020-10-19 19:14] eng-khaled1 opened #524 "Parser is not spliting multiple lines sentences propably"
## Description of the bug
I'm trying to Train a model that can build a Knowledge Base from the OPC UA Companions specification as a part of my Thesis.
I have the Dataset as PDFs and used a third-party program to convert them into HTML and tried my best to preserve the data structure information (i'm getting the same result even if i just Parsed on the PDFs alone).

Then i followed the [hardware_fo

[2020-10-19 19:32] AshutoshUpadhya commented on #523
Thanks @HiromuHota  for response.. I figured that out. candidates were generating .. but its failing due to type of data I have.
Can't fonduer parse strings written as 15th ('th' in small  like we write in dates)? Its failing there.
Can you confirm and suggest some solution.

When i removed th from the html , the step " featurizer.apply(split=0, train=True, parallelism=PARALLEL)"
ran through. But

[2020-10-20 08:01] ashleo25 opened #525 "unable to read images in the pdf file"
Hi

I am passing html to fonduer and it is saying unable read image from figure
I have taken a pdf converted to html via pdftotree and passing the html to fonduer.
Is this the issue with pdftotree that it is not able to render images.
I want to what is the mechanism so that we can have images linked/embed in html so that fonduer can read it

Please help/advice as i am stuck with this issue

[2020-10-20 19:58] HiromuHota commented on #525
@ashleo25 Are you seeing this warning message: "No image found in Figure."?

Assuming you are seeing the above message, yes this was caused as pdftotree currently does not produce `<img>` elements.
https://github.com/HazyResearch/pdftotree/issues/88
This is a known issue and I'll be addressing in the near future.
If you can contribute a PR to fix https://github.com/HazyResearch/pdftotree/issues/88

[2020-10-20 23:39] HiromuHota commented on #524
I'd suggest two things:
1. `replacements` accepts `List[Tuple[str, str]]`, so your case should be `replacements=[('\n', ' ')]`.
2. Put a whitespace in "request.If" to make it "request. If". Fonduer relies on spaCy for sentence segmentation if `SpacyParser` is used. Please directly use spaCy to check how your text is split into sentences.

[2020-10-21 07:42] SenWu commented on #523
Can you dump the content for that sentence from the data model? I need that info to dig into the issue. Thanks!

[2020-10-23 03:17] HiromuHota opened #527 "Tokens not aligned error when spacy < 2.3.0"
## Description of the bug

"Tokens are not aligned!" RuntimeError happens at `HocrVisualParser.parse`

## To Reproduce
Steps to reproduce the behavior:
1. Use the latest commit (a2d097be6f6509214a93246ad8027aeed509ba65)
2. Parse [William_R._King.hocr.txt](https://github.com/HazyResearch/fonduer/files/5427085/William_R._King.hocr.txt) with `HOCRDocPreprocessor` and `HocrVisualParser`

## Expected b

[2020-10-23 18:27] HiromuHota commented on #527
The corresponding part in hOCR looks like this:

[code]

When I erased one of the two single-quotes (`''`), the error disappeared.

[2020-10-23 18:30] HiromuHota commented on #527
spaCy v2.2.4 on Mar 12 released and v2.3.0 released Jun 16.
I suspect one of the changes between these dates changed how `gold.align` works. https://github.com/explosion/spaCy/commits/master/spacy/gold.pyx

[2020-10-23 19:47] HiromuHota commented on #527
I think https://github.com/explosion/spaCy/pull/5334 is the one, which "Remove alignment normalizations beyond whitespace and lowercasing".

[code]

As of v2.2.4, two single quotes `''` were normalized to a single quote `'`.

[2020-10-25 16:48] eng-khaled1 commented on #524
thanks a lot for your help.

i tried both solutions but  i'm still getting the same result.
can i configurate the spacyParser further? could it be from the PDFs themself ?
i would be very Gratefull if you could help me with this.

many thanks

[2020-10-25 18:37] eng-khaled1 commented on #524
I thought maybe if i could get the whole paragraph as a mention there is no need  to split the sentences right.
So i tried to use Paragrephmention class but i'm getting the Error:
 AttributeError: 'str' object has no attribute 'get_stable_id'
what dose the Paragraphmention takes as input?
thanks a lot

[2020-10-26 21:30] #527 closed

[2020-10-26 21:33] HiromuHota commented on #525
As of the next release, pdftotree can extract images (JPEG & BMP) and embed them inline.
https://github.com/HazyResearch/pdftotree/pull/99

[2020-10-26 21:33] #525 closed

[2020-10-27 12:35] ashleo25 commented on #525
@HiromuHota
Thanks for taking this up

When are we planning this release if you can please share

[2020-10-27 17:14] HiromuHota commented on #525
@ashleo25 we could release pdftotree now, but I'd appreciate if you could test it.
You can install it from the git repository as: `pip install git+https://github.com/HazyResearch/pdftotree.git`
Let us know how it works for your use case.

[2020-11-09 13:29] ashleo25 commented on #525
Hi @HiromuHota

Thanks for it
I checked the now i can have images in html , however color of the images needs to be seen
I have one more questions how can i extract images from the pdf for e.g visualize=True  gives me images but it gives me everything header , table i only want the embedded images /figures  to be extracted from the pdf with no borders or tagging like its section, table etc is it p

[2020-11-09 18:51] AmitPoonia opened #529 "hOCR preprocessor not available in latest release despite documentation suggesting othwerwise"
Hi
I am a new user to Fonduer and trying to use hOCR preprocessor during the parsing, but apparently it can't be imported. I am using the latest release (v0.8.3), and the documentation for latest release tells that hOCR api is available (https://fonduer.readthedocs.io/en/latest/user/parser.html#fonduer.parser.preprocessors.HOCRDocPreprocessor).

So I think either I am missing something or the late

[2020-11-09 22:37] lukehsiao commented on #529
That's correct, the latest release (v0.8.3) does not support hOCR. You can check this in our [Changelog](https://fonduer.readthedocs.io/en/latest/dev/changelog.html) and notice that hOCR is under "Unreleased".

For v0.8.3's documentation, refer to the latest stable docs (https://fonduer.readthedocs.io/en/stable/dev/changelog.html). Or, if you want to try Fonduer with hOCR, you can install from the

[2020-11-10 05:12] HiromuHota commented on #525
@ashleo25
Thanks for testing and confirming that you can have images in html.
`visualize=True` is meant for debugging. If you want to extract images from the pdf instead of creating an html with images, the "pdfimages" of the poppler would be more suited for your use case.

[2020-11-10 05:14] HiromuHota commented on #525
@ashleo25
Also please open an issue at https://github.com/HazyResearch/pdftotree if your question/issue is related to pdftotree instead of fonduer.

[2020-11-10 07:39] AmitPoonia commented on #529
Thank you.

[2020-11-10 07:39] #529 closed

[2020-11-10 20:26] ashleo25 commented on #525
Hi @HiromuHota

One more point all the images have black background in generated html how it can be changed??
Can i also get figure name as well when i run fonduer on this html via HTMLDOCPReprocesor

[2020-12-29 22:02] Lin-Leon-MENG opened #532 "Parser can't handle big tables?"
## Description of the bug
I was trying to apply `Fonduer` on a few `html` files converted from `xlsx` sheets. During the parsing phase, while most of them worked fine, one of the files can't be successfully parsed, in a way that no error message was printed, but the resulting database was empty.

One noticeable difference of this specific file is its size. The original sheet is a 700+ by 50+ table

[2021-01-05 22:39] SenWu commented on #532
Hi @Lin-Leon-MENG, can you share the fake data and the code you were using so we can reproduce your issue?

Thanks,
Sen

[2021-01-06 01:58] Lin-Leon-MENG commented on #532
Hi @SenWu thanks for getting back to me.

[fake_data.zip](https://github.com/HazyResearch/fonduer/files/5773418/fake_data.zip)

I created this fake data for your reference. There're 4 files included.
- fake.xlsx: original data of interest
- fake.html: converted using a Python module `xlsx2html`
- fake_double.html: copy-paste the whole table (content within `<tr>...</tr>` tag) so it's twice bigger.

[2021-01-06 23:57] Lin-Leon-MENG commented on #532
Hi @SenWu, I just solved the issue thanks to the input from @YasushiMiyata.

Turns out it's because of my docker container memory ran out. I didn't realize memory could be a problem.

I'm sorry for the inconvenience and taking up your time.

[2021-01-06 23:57] #532 closed

[2021-01-25 23:30] robbieculkin commented on #494
Hi, I'm seeing this bug in the max_storage_temp_tutorial.
![Screen Shot 2021-01-25 at 3 29 39 PM](https://user-images.githubusercontent.com/20375994/105778943-3a812100-5f22-11eb-9a8e-3d56579919c6.png)

[2021-02-08 22:46] nageshsvs opened #533 "Its dead slow with Win10 + PY 3.6"

[2021-02-08 22:46] nageshsvs commented on #533
[2021-02-08 15:37:45,034][INFO] fonduer.meta:49 - Setting logging directory to: logs\2021-02-08_15-37-45
[2021-02-08 15:37:45,112][INFO] fonduer.meta:135 - Connecting user:None to localhost:None/pob_presidents
[2021-02-08 15:37:47,216][INFO] fonduer.meta:162 - Initializing the storage schema
[2021-02-08 15:37:48,354][INFO] fonduer.utils.udf:67 - Running UDF...

[2021-02-09 19:46] lukehsiao commented on #533
Naturally, the performance of your KBC pipeline will depend on the hardware you're running it on, as well as the size and complexity of your KBC pipeline.

This issue unfortunately doesn't provide any actionable information.

However, in general, performance improvements always valuable and welcome. If you would like to do some profiling for more useful information, or even contribute to Fonduer b

[2021-02-09 19:46] #533 closed

[2021-02-16 02:23] YasushiMiyata opened #534 "HOCRParser fails to multiline Japanese strings"
## Description of the bug
HocrVisualParser() fails to multiline Japanese strings like "チェーン店\n本・支店".
Hocr parser result does not aligne with spacy parse result and throws an error
`"RuntimeError: ('Tokens are not aligned!', "hocr tokens: ['チェーン店', '本・支店']", "spacy tokens: ['チェーン', '店本', '・', '支店']")"`
This situation same as "hocr tokens: ['AAAA', 'BBBB']", "spacy tokens: ['AAA', 'AB', 'B', 'BB']".

[2021-03-03 17:00] robbieculkin opened #535 "UDF hangs with no exception / warning"
## Description of the bug
When running UDF for parsing, candidate extraction, or labeling, the process will hang for an indefinite amount of time. No exception or warning is generated.
**Hangs aren't easily reproducible**: UDF will hang on a file for one run, then after a full reset UDF will parse that file without a problem, only to hang on some other file.

## To Reproduce
Using very similar cod

[2021-03-04 19:45] robbieculkin commented on #535
Some updates:
1.  It appears hangs do happen for specific HTML files. Switching parallelism=1 made it clear that specific files trigger this behavior. I can provide example files if necessary.
2. This behavior occurs when using MacOS, but cannot be reproduced using a Ubuntu VM with the fonduer-tutorials docker image.

[2021-03-04 19:47] lukehsiao commented on #535
Hi @robbieculkin, yes please! Can you include examples of files that cause the issue? Thanks for this additional info.

[2021-03-04 21:45] robbieculkin commented on #535
Sure, here's a ZIP that includes the PDF & HTML (Adobe Acrobat converted).
[huang2016.zip](https://github.com/HazyResearch/fonduer/files/6086777/huang2016.zip)

Thanks for your help, @lukehsiao

[2021-03-09 23:40] robbieculkin opened #536 "Tables aren't redefined for re-runs of UDF apply"
## Description of the bug
As part of iterative development in a Jupyter environment, `apply` may be re-run several times. The developer might need to update candidates or create a new labeling function, for example.
When this happens, the corresponding Postgres table is cleared but not dropped. This means that the definition of the table cannot change to accommodate the updated parameters for `app

[2021-03-14 03:36] SenWu commented on #535
Hi @robbieculkin,

I test your data with the latest master branch and it works properly (see the figure below).

![Screen Shot 2021-03-13 at 7 34 42 PM](https://user-images.githubusercontent.com/5580008/111056343-42921300-8433-11eb-8a8d-5f03324632fc.png)

Can you try the latest master branch and let us know if it's still a problem.

Thanks,
Sen

[2021-03-14 07:37] SenWu commented on #536
Hi @robbieculkin,

Thanks for your question.

I think this is a problem related to the Snorkel package since it assumes all labeling functions can at least apply to one sample in the dataset which means the labeling function cannot always return ABSTAIN.

In Fonduer, we save the labeling function outputs in a sparse format which means we will store the labeling function name as a key based on your

[2021-03-16 02:11] robbieculkin commented on #535
Hmm, the error remains for MacOS. I've switched to my Ubuntu machine for Fonduer-related development so I can close this. If others have issues, maybe they can reopen?

[2021-03-16 02:11] #535 closed

[2021-03-17 20:18] robbieculkin commented on #536
Hi Sen, thanks for the information.

Maybe it's an edge case, but I can imagine scenarios (like mine) with small training sets or very specific labeling functions that might result in only ABSTAIN answers.
Is this an issue worth raising with Snorkel?

Thanks,
Robbie

[2021-03-30 20:45] SenWu commented on #536
Hi @robbieculkin,

I am not sure whether Snorkel can handle that or not. Let us think a way to solve this issue on our side.

Sen

[2021-03-30 20:47] robbieculkin commented on #536
Thanks @SenWu, I really appreciate your team's support.

[2021-03-30 20:48] SenWu commented on #536
@robbieculkin Sorry for the late response. We will fix this asap.

[2021-03-30 22:58] robbieculkin commented on #494
I'm still seeing this issue. It looks like all processes' data are held in memory, then written to the DB using a single process. I'm debugging via `top`, where I see
1. memory usage is split across parallel processes
2. next, all memory stacks up in a single process
3. lastly, my machine kills the process due to OOM error

I can workaround this via a for loop wrapper but this doesn't seem like th

[2021-03-31 07:06] lukehsiao commented on #494
Your description sounds correct to me, and this is definitely a real bottleneck several have run into. We would love to try and resolve this, but I suspect it wouldn't be a quick fix.

I'm going to reopen this issue.

[2021-04-01 15:56] HiromuHota commented on #534
@YasushiMiyata The said case is not covered now. I'd appreciate it if you could change the following part of the code to cover this case.
https://github.com/HazyResearch/fonduer/blob/master/src/fonduer/parser/visual_parser/hocr_visual_parser.py#L116-L134

[2021-04-01 21:36] YasushiMiyata commented on #534
@HiromuHota Thank you for your advice! I check the code and try to fix it.

[2021-04-26 07:39] YasushiMiyata opened #538 "Test code "test_postgres.py" failes with sqlalchemy delete method"
## Description of the bug
In running the test code "test_postgres.py::test_cand_gen_cascading_delete", program fails by "sqlalchemy.exc.ProgrammingError". Error message is;
[code]

## To Reproduce
Steps to reproduce the behavior:
1. Execute `pytest test_postgres.py::test_cand_gen_cascading_delete` or ci after pull request.

## Expected behavior
Test completes with no error.

## Error Logs/Screensh

[2021-05-03 17:15] #538 closed

[2021-05-07 01:18] YasushiMiyata commented on #494
I proposed a pull request related to this issue (#494) by #541.
OOM error seems to happen in the case that sqlalchemy keeps large document data on memory untill `commit` from `add`.
The proposal (#541) is doing `commit` immediately after `add` to free memory.
https://github.com/HazyResearch/fonduer/blob/5ab8e9c7bad34ad86800b7b077aa8342f590ec27/src/fonduer/parser/parser.py#L135

[2021-05-07 01:30] YasushiMiyata commented on #494
In addition, I got test results; python memory usage (max about 3GB -> 500MB) and processing time (339 sec -> 268 sec).
This test is parsing all html files from [tests/download_data.sh](https://github.com/HazyResearch/fonduer/blob/5ab8e9c7bad34ad86800b7b077aa8342f590ec27/tests/download_data.sh) and saving them to postgres.

[2021-05-10 16:12] robbieculkin commented on #494
Thanks for your work on this. This will be a major reliability improvement for my use case and will eliminate several workarounds.

[2021-05-12 08:07] YasushiMiyata commented on #494
I renew PR #544 from #541 because #541 fails rebase by my wrong merge order.

[2021-05-12 18:03] #494 closed

[2021-05-12 18:04] lukehsiao commented on #494
The proposed PR has been merged. @robbieculkin, if you happen to have time to test the current `master` branch to verify that this is working for you, that would be great.

[2021-05-12 20:12] robbieculkin commented on #494
I've tested `master` on ~200 docs and can confirm that these changes fix OOM errors and slow performance. Many thanks for the fix.

[2021-09-02 21:04] robbieculkin opened #546 "CandidateExtractor doesn't scale for larger relations"
Hello, thanks for providing this framework. My group has run into a bit of a snag:

For context, we've successfully completed candidate extraction & labeling for binary relations, with reasonable runtimes. With parallelism = 6, candidate extraction takes ~2 minutes per document.

We've since moved on to a 3-ary relation that is very similar to the binary relation. This 3-ary relation shares some m

[2021-09-02 21:24] robbieculkin commented on #546
The first workaround that comes to mind is to override the `CandidateExtractorUDF.apply` method where temporary candidates are formed from the product of a document's mentions.
https://github.com/HazyResearch/fonduer/blob/c9fd6b91998cd708ab95aeee3dfaf47b9e549ffd/src/fonduer/candidates/candidates.py#L263-L274

If we're able to group mentions by their contexts and form products *within* these groups